---
version: 2
interactions:
    - id: 0
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: |
            {"label":"testAcc_810183405","description":"testing, testing","permissions":["okta.apps.manage","okta.apps.assignment.manage","okta.users.manage"]}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/iam/roles
        method: POST
      response:
        body: '{"id":"cr08zv450x3y7tZAv1d7","label":"testAcc_810183405","description":"testing, testing","created":"2023-07-20T00:08:01.000Z","lastUpdated":"2023-07-20T00:08:01.000Z","_links":{"permissions":{"href":"https://mm-classic-2022-10-04-admin.oktapreview.com/api/v1/iam/roles/cr08zv450x3y7tZAv1d7/permissions"},"self":{"href":"https://mm-classic-2022-10-04-admin.oktapreview.com/api/v1/iam/roles/cr08zv450x3y7tZAv1d7"}}}'
        headers:
            Content-Type:
                - application/json
            Link:
                - <https://mm-classic-2022-10-04-admin.oktapreview.com/api/v1/iam/roles/cr08zv450x3y7tZAv1d7>; rel="self"
        status: 200 OK
        code: 200
        duration: 145.147083ms
    - id: 1
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: |
            {"profile":{"name":"testAcc_810183405","description":"testing"}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/groups
        method: POST
      response:
        body: '{"id":"00g8zv2lijua3kNsQ1d7","created":"2023-07-20T00:08:01.000Z","lastUpdated":"2023-07-20T00:08:01.000Z","lastMembershipUpdated":"2023-07-20T00:08:01.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc_810183405","description":"testing"},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/groups/00g8zv2lijua3kNsQ1d7/users"},"apps":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/groups/00g8zv2lijua3kNsQ1d7/apps"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 166.610401ms
    - id: 2
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: |
            {"credentials":{"password":{}},"profile":{"email":"testAcc_810183405@example.com","firstName":"TestAcc","lastName":"blah","login":"testAcc_810183405@example.com","postalAddress":null}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/users
        method: POST
      response:
        body: '{"id":"00u8zv4dictmr1YMR1d7","status":"PROVISIONED","created":"2023-07-20T00:08:01.000Z","activated":"2023-07-20T00:08:01.000Z","statusChanged":"2023-07-20T00:08:01.000Z","lastLogin":null,"lastUpdated":"2023-07-20T00:08:01.000Z","passwordChanged":null,"type":{"id":"oty5ptm052JMcoADv1d7"},"profile":{"firstName":"TestAcc","lastName":"blah","mobilePhone":null,"secondEmail":null,"login":"testAcc_810183405@example.com","email":"testAcc_810183405@example.com"},"credentials":{"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"suspend":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u8zv4dictmr1YMR1d7/lifecycle/suspend","method":"POST"},"schema":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/meta/schemas/user/osc5ptm052JMcoADv1d7"},"resetPassword":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u8zv4dictmr1YMR1d7/lifecycle/reset_password","method":"POST"},"reactivate":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u8zv4dictmr1YMR1d7/lifecycle/reactivate","method":"POST"},"self":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u8zv4dictmr1YMR1d7"},"type":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/meta/types/user/oty5ptm052JMcoADv1d7"},"deactivate":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u8zv4dictmr1YMR1d7/lifecycle/deactivate","method":"POST"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 362.375852ms
    - id: 3
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/groups/00g8zv2lijua3kNsQ1d7
        method: GET
      response:
        body: '{"id":"00g8zv2lijua3kNsQ1d7","created":"2023-07-20T00:08:01.000Z","lastUpdated":"2023-07-20T00:08:01.000Z","lastMembershipUpdated":"2023-07-20T00:08:01.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc_810183405","description":"testing"},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/groups/00g8zv2lijua3kNsQ1d7/users"},"apps":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/groups/00g8zv2lijua3kNsQ1d7/apps"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 101.789428ms
    - id: 4
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: |
            {"credentials":{"userNameTemplate":{"template":"${source.login}","type":"BUILT_IN"},"userName":""},"accessibility":{"selfService":false},"label":"testAcc_810183405","name":"template_swa","settings":{"app":{"buttonField":"btn-login","passwordField":"txtbox-password","url":"https://example.com/login.html","usernameField":"txtbox-username"},"notes":{"admin":null,"enduser":null}},"signOnMode":"BROWSER_PLUGIN","visibility":{"autoSubmitToolbar":false,"hide":{"iOS":false,"web":false}}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/apps?activate=true
        method: POST
      response:
        body: '{"id":"0oa8zv50hzvIURGMf1d7","name":"template_swa","label":"testAcc_810183405","status":"ACTIVE","lastUpdated":"2023-07-20T00:08:02.000Z","created":"2023-07-20T00:08:01.000Z","accessibility":{"selfService":false,"errorRedirectUrl":null,"loginRedirectUrl":null},"visibility":{"autoLaunch":false,"autoSubmitToolbar":false,"hide":{"iOS":false,"web":false},"appLinks":{"login":true}},"features":[],"signOnMode":"BROWSER_PLUGIN","credentials":{"scheme":"EDIT_USERNAME_AND_PASSWORD","userNameTemplate":{"template":"${source.login}","type":"BUILT_IN"},"revealPassword":false,"signing":{}},"settings":{"app":{"loginUrlRegex":null,"usernameField":"txtbox-username","redirectUrl":null,"buttonField":"btn-login","checkbox":null,"passwordField":"txtbox-password","url":"https://example.com/login.html"},"notifications":{"vpn":{"network":{"connection":"DISABLED"},"message":null,"helpUrl":null}},"manualProvisioning":false,"implicitAssignment":false,"notes":{"admin":null,"enduser":null}},"_links":{"uploadLogo":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/apps/0oa8zv50hzvIURGMf1d7/logo","hints":{"allow":["POST"]}},"appLinks":[{"name":"login","href":"https://mm-classic-2022-10-04.oktapreview.com/home/template_swa/0oa8zv50hzvIURGMf1d7/2357","type":"text/html"}],"groups":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/apps/0oa8zv50hzvIURGMf1d7/groups"},"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/fs/bcg/4/gfs1g3ksgnrQi3BSX1d8","type":"image/png"}],"users":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/apps/0oa8zv50hzvIURGMf1d7/users"},"deactivate":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/apps/0oa8zv50hzvIURGMf1d7/lifecycle/deactivate"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 590.975069ms
[...]
    - id: 6
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u8zv4dictmr1YMR1d7
        method: GET
      response:
        body: '{"id":"00u8zv4dictmr1YMR1d7","status":"PROVISIONED","created":"2023-07-20T00:08:01.000Z","activated":"2023-07-20T00:08:01.000Z","statusChanged":"2023-07-20T00:08:01.00[...]
    - id: 7
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/apps/0oa8zv50hzvIURGMf1d7
        method: GET
      response:
        body: '{"id":"0oa8zv50hzvIURGMf1d7","name":"template_swa","label":"testAcc_810183405","status":"ACTIVE","lastUpdated":"2023-07-20T00:08:02.000Z","created":"2023-07-20T00:08:01[...]
    - id: 8
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: |
            {"label":"testAcc_810183405","description":"testing, testing","resources":["https://mm-classic-2022-10-04.oktapreview.com/api/v1/users","https://mm-classic-2022-10-04.oktapreview.com/api/v1/apps/0oa8zv50hzvIURGMf1d7"]}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/iam/resource-sets
        method: POST
      response:
        body: '{"id":"iam8zv4kgbOB74vwK1d7","label":"testAcc_810183405","description":"testing, testing","created":"2023-07-20T00:08:03.000Z","lastUpdated":"2023-07-20T00:08:03.000Z","_links":{"bindings":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/iam/resource-sets/iam8zv4kgbOB74vwK1d7/bindings"},"self":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/iam/resource-sets/iam8zv4kgbOB74vwK1d7"},"resources":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/iam/resource-sets/iam8zv4kgbOB74vwK1d7/resources"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 128.204271ms
    - id: 9
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/iam/resource-sets/iam8zv4kgbOB74vwK1d7
        method: GET
      response:
        body: '{"id":"iam8zv4kgbOB74vwK1d7","label":"testAcc_810183405","description":"testing, testing","created":"2023-07-20T00:08:03.000Z","lastUpdated":"2023-07-20T00:08:03.000Z","_links":{"bindings":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/iam/resource-sets/iam8zv4kgbOB74vwK1d7/bindings"},"self":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/iam/resource-sets/iam8zv4kgbOB74vwK1d7"},"resources":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/iam/resource-sets/iam8zv4kgbOB74vwK1d7/resources"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 58.041077ms
    - id: 10
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/iam/resource-sets/iam8zv4kgbOB74vwK1d7/resources?limit=200
        method: GET
      response:
        body: '{"resources":[{"id":"ire8zv4kgcmovTBWF1d7","orn":"orn:oktapreview:directory:00o5ptm04a2LyDEyk1d7:users","created":"2023-07-20T00:08:03.000Z","lastUpdated":"2023-07-20T00:08:03.000Z","_links":{"self":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/users"},"users":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/users"}}},{"id":"ire8zv4kgdE29QRGI1d7","orn":"orn:oktapreview:idp:00o5ptm04a2LyDEyk1d7:apps:template_swa:0oa8zv50hzvIURGMf1d7","created":"2023-07-20T00:08:03.000Z","lastUpdated":"2023-07-20T00:08:03.000Z","_links":{"self":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/apps/0oa8zv50hzvIURGMf1d7"}}}],"_links":{"resource-set":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/iam/resource-sets/iam8zv4kgbOB74vwK1d7"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 63.211741ms
    - id: 11
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: |
            {"role":"cr08zv450x3y7tZAv1d7","members":["https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u8zv4dictmr1YMR1d7","https://mm-classic-2022-10-04.oktapreview.com/api/v1/groups/00g8zv2lijua3kNsQ1d7"]}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/iam/resource-sets/iam8zv4kgbOB74vwK1d7/bindings
        method: POST
      response:
        body: '{"_links":{"resource-set":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/iam/resource-sets/iam8zv4kgbOB74vwK1d7"},"bindings":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/iam/resource-sets/iam8zv4kgbOB74vwK1d7/bindings"},"self":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/iam/resource-sets/iam8zv4kgbOB74vwK1d7/bindings/cr08zv450x3y7tZAv1d7"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 104.450207ms
    - id: 12
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/iam/resource-sets/iam8zv4kgbOB74vwK1d7/bindings/cr08zv450x3y7tZAv1d7/members?limit=200
        method: GET
      response:
        body: '{"members":[{"id":"irb8zv6mrv5ef2Jfu1d7","created":"2023-07-20T00:00:00.000Z","lastUpdated":"2023-07-20T00:00:00.000Z","_links":{"self":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/groups/00g8zv2lijua3kNsQ1d7"}}},{"id":"irb8zv6mrwBJJP0pZ1d7","created":"2023-07-20T00:00:00.000Z","lastUpdated":"2023-07-20T00:00:00.000Z","_links":{"self":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u8zv4dictmr1YMR1d7"}}}],"_links":{"binding":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/iam/resource-sets/iam8zv4kgbOB74vwK1d7/bindings/cr08zv450x3y7tZAv1d7"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 80.572618ms
    - id: 13
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/iam/roles/cr08zv450x3y7tZAv1d7
        method: GET
      response:
        body: '{"id":"cr08zv450x3y7tZAv1d7","label":"testAcc_810183405","description":"testing, testing","created":"2023-07-20T00:08:01.000Z","lastUpdated":"2023-07-20T00:08:01.000Z","_links":{"permissions":{"href":"https://mm-classic-2022-10-04-admin.oktapreview.com/api/v1/iam/roles/cr08zv450x3y7tZAv1d7/permissions"},"self":{"href":"https://mm-classic-2022-10-04-admin.oktapreview.com/api/v1/iam/roles/cr08zv450x3y7tZAv1d7"}}}'
        headers:
            Content-Type:
                - application/json
            Link:
                - <https://mm-classic-2022-10-04-admin.oktapreview.com/api/v1/iam/roles/cr08zv450x3y7tZAv1d7>; rel="self"
        status: 200 OK
        code: 200
        duration: 63.454579ms
[...]
    - id: 17
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/iam/roles/cr08zv450x3y7tZAv1d7/permissions
        method: GET
      response:
        body: '{"permissions":[{"label":"okta.apps.assignment.manage","created":"2023-07-20T00:08:01.000Z","lastUpdated":"2023-07-20T00:08:01.000Z","conditions":null,"_links":{"role":{"href":"https://mm-classic-2022-10-04-admin.oktapreview.com/api/v1/iam/roles/cr08zv450x3y7tZAv1d7"},"self":{"href":"https://mm-classic-2022-10-04-admin.oktapreview.com/api/v1/iam/roles/cr08zv450x3y7tZAv1d7/permissions/okta.apps.assignment.manage"}}},{"label":"okta.users.manage","created":"2023-07-20T00:08:01.000Z","lastUpdated":"2023-07-20T00:08:01.000Z","conditions":null,"_links":{"role":{"href":"https://mm-classic-2022-10-04-admin.oktapreview.com/api/v1/iam/roles/cr08zv450x3y7tZAv1d7"},"self":{"href":"https://mm-classic-2022-10-04-admin.oktapreview.com/api/v1/iam/roles/cr08zv450x3y7tZAv1d7/permissions/okta.users.manage"}}},{"label":"okta.apps.manage","created":"2023-07-20T00:08:01.000Z","lastUpdated":"2023-07-20T00:08:01.000Z","conditions":null,"_links":{"role":{"href":"https://mm-classic-2022-10-04-admin.oktapreview.com/api/v1/iam/roles/cr08zv450x3y7tZAv1d7"},"self":{"href":"https://mm-classic-2022-10-04-admin.oktapreview.com/api/v1/iam/roles/cr08zv450x3y7tZAv1d7/permissions/okta.apps.manage"}}}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 71.314167ms
[...]
    - id: 30
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/iam/resource-sets/iam8zv4kgbOB74vwK1d7/bindings/cr08zv450x3y7tZAv1d7/members/irb8zv6mrv5ef2Jfu1d7
        method: DELETE
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 85.455238ms
[...]
    - id: 39
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/iam/resource-sets/iam8zv4kgbOB74vwK1d7/bindings/cr08zv450x3y7tZAv1d7
        method: DELETE
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 102.872685ms
[...]
    - id: 44
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/apps/0oa8zv50hzvIURGMf1d7/lifecycle/deactivate
        method: POST
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 113.556016ms
[...]
