---
version: 2
interactions:
    - id: 0
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: |
            {"profile":{"name":"foo_442414123","description":""}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/groups
        method: POST
      response:
        body: '{"id":"00g8zv3n7a0q4PW0h1d7","created":"2023-07-20T00:06:42.000Z","lastUpdated":"2023-07-20T00:06:42.000Z","lastMembershipUpdated":"2023-07-20T00:06:42.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"foo_442414123","description":""},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/groups/00g8zv3n7a0q4PW0h1d7/users"},"apps":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/groups/00g8zv3n7a0q4PW0h1d7/apps"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 166.940386ms
    - id: 1
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: |
            {"credentials":{"password":{}},"profile":{"email":"john_442414123@ledzeppelin.com","firstName":"TestAcc","lastName":"Jones","login":"john_442414123@ledzeppelin.com","postalAddress":null}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/users
        method: POST
      response:
        body: '{"id":"00u8zv33647gRhOQF1d7","status":"PROVISIONED","created":"2023-07-20T00:06:42.000Z","activated":"2023-07-20T00:06:42.000Z","statusChanged":"2023-07-20T00:06:42.000Z","lastLogin":null,"lastUpdated":"2023-07-20T00:06:42.000Z","passwordChanged":null,"type":{"id":"oty5ptm052JMcoADv1d7"},"profile":{"firstName":"TestAcc","lastName":"Jones","mobilePhone":null,"secondEmail":null,"login":"john_442414123@ledzeppelin.com","email":"john_442414123@ledzeppelin.com"},"credentials":{"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"suspend":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u8zv33647gRhOQF1d7/lifecycle/suspend","method":"POST"},"schema":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/meta/schemas/user/osc5ptm052JMcoADv1d7"},"resetPassword":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u8zv33647gRhOQF1d7/lifecycle/reset_password","method":"POST"},"reactivate":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u8zv33647gRhOQF1d7/lifecycle/reactivate","method":"POST"},"self":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u8zv33647gRhOQF1d7"},"type":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/meta/types/user/oty5ptm052JMcoADv1d7"},"deactivate":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u8zv33647gRhOQF1d7/lifecycle/deactivate","method":"POST"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 329.989072ms
[...]
    - id: 3
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/groups/00g8zv3n7a0q4PW0h1d7
        method: GET
      response:
        body: '{"id":"00g8zv3n7a0q4PW0h1d7","created":"2023-07-20T00:06:42.000Z","lastUpdated":"2023-07-20T00:06:42.000Z","lastMembershipUpdated":"2023-07-20T00:06:42.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"foo_442414123","description":""},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/groups/00g8zv3n7a0q4PW0h1d7/users"},"apps":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/groups/00g8zv3n7a0q4PW0h1d7/apps"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 61.348394ms
[...]
    - id: 7
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u8zv33647gRhOQF1d7
        method: GET
      response:
        body: '{"id":"00u8zv33647gRhOQF1d7","status":"PROVISIONED","created":"2023-07-20T00:06:42.000Z","activated":"2023-07-20T00:06:42.000Z","statusChanged":"2023-07-20T00:06:42.00[...]
    - id: 8
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u8zv3bqtUuBt6ED1d7
        method: GET
      response:
        body: '{"id":"00u8zv3bqtUuBt6ED1d7","status":"PROVISIONED","created":"2023-07-20T00:06:42.000Z","activated":"2023-07-20T00:06:42.000Z","statusChanged":"2023-07-20T00:06:42.00[...]
    - id: 9
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/groups/00g8zv3n7a0q4PW0h1d7/users/00u8zv3bqtUuBt6ED1d7
        method: PUT
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 81.624835ms
    - id: 10
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u8zv4fm0xyzKO2F1d7
        method: GET
      response:
        body: '{"id":"00u8zv4fm0xyzKO2F1d7","status":"PROVISIONED","created":"2023-07-20T00:06:42.000Z","activated":"2023-07-20T00:06:42.000Z","statusChanged":"2023-07-20T00:06:42.0[...]
    - id: 11
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u8zv47uuhUv69W01d7
        method: GET
      response:
        body: '{"id":"00u8zv47uuhUv69W01d7","status":"PROVISIONED","created":"2023-07-20T00:06:42.000Z","activated":"2023-07-20T00:06:43.000Z","statusChanged":"2023-07-20T00:06:43.0[...]
    - id: 12
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/groups/00g8zv3n7a0q4PW0h1d7/users/00u8zv33647gRhOQF1d7
        method: PUT
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 74.296554ms
    - id: 13
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/groups/00g8zv3n7a0q4PW0h1d7/users?limit=200
        method: GET
      response:
        body: '[{"id":"00u8zv33647gRhOQF1d7","status":"PROVISIONED","created":"2023-07-20T00:06:42.000Z","activated":"2023-07-20T00:06:42.000Z","statusChanged":"202[...]
[...]
