---
version: 2
interactions:
    - id: 0
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: |
            {"profile":{"name":"foo_442414123","description":""}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups
        method: POST
      response:
        body: '{"id":"00g8ztheanYQ815yh1d7","created":"2023-07-19T22:54:20.000Z","lastUpdated":"2023-07-19T22:54:20.000Z","lastMembershipUpdated":"2023-07-19T22:54:20.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"foo_442414123","description":""},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups/00g8ztheanYQ815yh1d7/users"},"apps":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups/00g8ztheanYQ815yh1d7/apps"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 244.296981ms
    - id: 1
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: |
            {"credentials":{"password":{}},"profile":{"email":"john_442414123@ledzeppelin.com","firstName":"TestAcc","lastName":"Jones","login":"john_442414123@ledzeppelin.com","postalAddress":null}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users
        method: POST
      response:
        body: '{"id":"00u8zth9203yyct771d7","status":"PROVISIONED","created":"2023-07-19T22:54:20.000Z","activated":"2023-07-19T22:54:20.000Z","statusChanged":"2023-07-19T22:54:20.000Z","lastLogin":null,"lastUpdated":"2023-07-19T22:54:20.000Z","passwordChanged":null,"type":{"id":"oty5qwjvh0Vy1j8Kd1d7"},"profile":{"firstName":"TestAcc","lastName":"Jones","mobilePhone":null,"secondEmail":null,"login":"john_442414123@ledzeppelin.com","email":"john_442414123@ledzeppelin.com"},"credentials":{"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"suspend":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/00u8zth9203yyct771d7/lifecycle/suspend","method":"POST"},"schema":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/meta/schemas/user/osc5qwjvh0Vy1j8Kd1d7"},"resetPassword":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/00u8zth9203yyct771d7/lifecycle/reset_password","method":"POST"},"reactivate":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/00u8zth9203yyct771d7/lifecycle/reactivate","method":"POST"},"self":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/00u8zth9203yyct771d7"},"resetFactors":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/00u8zth9203yyct771d7/lifecycle/reset_factors","method":"POST"},"type":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/meta/types/user/oty5qwjvh0Vy1j8Kd1d7"},"deactivate":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/00u8zth9203yyct771d7/lifecycle/deactivate","method":"POST"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 406.933447ms
[...]
    - id: 5
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups/00g8ztheanYQ815yh1d7
        method: GET
      response:
        body: '{"id":"00g8ztheanYQ815yh1d7","created":"2023-07-19T22:54:20.000Z","lastUpdated":"2023-07-19T22:54:20.000Z","lastMembershipUpdated":"2023-07-19T22:54:20.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"foo_442414123","description":""},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups/00g8ztheanYQ815yh1d7/users"},"apps":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups/00g8ztheanYQ815yh1d7/apps"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 79.007129ms
[...]
    - id: 7
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/00u8zth9203yyct771d7
        method: GET
      response:
        body: '{"id":"00u8zth9203yyct771d7","status":"PROVISIONED","created":"2023-07-19T22:54:20.000Z","activated":"2023-07-19T22:54:20.000Z","statusChanged":"2023-07-19T22:54:20.00[...]
    - id: 8
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/00u8ztesgm6Esxajn1d7
        method: GET
      response:
        body: '{"id":"00u8ztesgm6Esxajn1d7","status":"PROVISIONED","created":"2023-07-19T22:54:20.000Z","activated":"2023-07-19T22:54:20.000Z","statusChanged":"2023-07-19T22:54:20.00[...]
    - id: 9
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/00u8ztf8ktsbKCkib1d7
        method: GET
      response:
        body: '{"id":"00u8ztf8ktsbKCkib1d7","status":"PROVISIONED","created":"2023-07-19T22:54:20.000Z","activated":"2023-07-19T22:54:20.000Z","statusChanged":"2023-07-19T22:54:20.00[...]
    - id: 10
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/00u8ztheaoR6das0n1d7
        method: GET
      response:
        body: '{"id":"00u8ztheaoR6das0n1d7","status":"PROVISIONED","created":"2023-07-19T22:54:20.000Z","activated":"2023-07-19T22:54:20.000Z","statusChanged":"2023-07-19T22:54:20.0[...]
    - id: 11
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups/00g8ztheanYQ815yh1d7/users/00u8zth9203yyct771d7
        method: PUT
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 111.8188ms
    - id: 12
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups/00g8ztheanYQ815yh1d7/users/00u8ztheaoR6das0n1d7
        method: PUT
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 69.553222ms
    - id: 13
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups/00g8ztheanYQ815yh1d7/users?limit=200
        method: GET
      response:
        body: '[{"id":"00u8zth9203yyct771d7","status":"PROVISIONED","created":"2023-07-19T22:54:20.000Z","activated":"2023-07-19T22:54:20.000Z","statusChanged":"202[...]
[...]
