---
version: 2
interactions:
    - id: 0
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/groups?limit=1&q=Everyone
        method: GET
      response:
        body: '[{"id":"00g5ptm04tzNvyznP1d7","created":"2022-10-04T23:20:18.000Z","lastUpdated":"2022-10-04T23:20:18.000Z","lastMembershipUpdated":"2023-07-20T00:24:37.000Z","objectClass":["okta:user_group"],"type":"BUILT_IN","profile":{"name":"Everyone","description":"All users in your organization"},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/groups/00g5ptm04tzNvyznP1d7/users"},"apps":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/groups/00g5ptm04tzNvyznP1d7/apps"}}}]'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 157.890692ms
[...]
    - id: 2
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/org/factors/okta_email
        method: GET
      response:
        body: '{"id":"okta_email","provider":"OKTA","factorType":"email","status":"INACTIVE","_links":{"activate":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/org/factors/okta_email/lifecycle/activate","hints":{"allow":["POST"]}},"self":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/org/factors/okta_email","hints":{"allow":["GET"]}}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 76.358599ms
    - id: 3
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/org/factors/google_otp
        method: GET
      response:
        body: '{"id":"google_otp","provider":"GOOGLE","factorType":"token:software:totp","status":"INACTIVE","_links":{"activate":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/org/factors/google_otp/lifecycle/activate","hints":{"allow":["POST"]}},"self":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/org/factors/google_otp","hints":{"allow":["GET"]}}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 81.91787ms
    - id: 4
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/org/factors/google_otp/lifecycle/activate
        method: POST
      response:
        body: '{"id":"google_otp","provider":"GOOGLE","factorType":"token:software:totp","status":"ACTIVE","_links":{"self":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/org/factors/google_otp","hints":{"allow":["GET"]}},"deactivate":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/org/factors/google_otp/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 107.054175ms
    - id: 5
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/org/factors/okta_email/lifecycle/activate
        method: POST
      response:
        body: '{"id":"okta_email","provider":"OKTA","factorType":"email","status":"ACTIVE","_links":{"self":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/org/factors/okta_email","hints":{"allow":["GET"]}},"deactivate":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/org/factors/okta_email/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 141.475458ms
[...]
    - id: 8
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: |
            {"conditions":{"people":{"groups":{"include":["00g5ptm04tzNvyznP1d7"]}}},"description":"Terraform Acceptance Test MFA Policy","name":"testAcc_2343039602","status":"ACTIVE","type":"MFA_ENROLL","settings":{"factors":{"google_otp":{"enroll":{"self":"REQUIRED"}},"okta_email":{"enroll":{"self":"REQUIRED"}}},"type":"FACTORS"}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/policies
        method: POST
      response:
        body: '{"id":"00p8zvju10xz4Ge6a1d7","status":"ACTIVE","name":"testAcc_2343039602","description":"Terraform Acceptance Test MFA Policy","priority":1,"system":false,"conditions":{"people":{"groups":{"include":["00g5ptm04tzNvyznP1d7"]}}},"created":"2023-07-20T00:25:31.000Z","lastUpdated":"2023-07-20T00:25:31.000Z","settings":{"factors":{"okta_otp":{"enroll":{"self":"NOT_ALLOWED"},"consent":{"type":"NONE"}},"google_otp":{"enroll":{"self":"REQUIRED"},"consent":{"type":"NONE"}},"okta_password":{"enroll":{"self":"OPTIONAL"},"consent":{"type":"NONE"}},"okta_email":{"enroll":{"self":"REQUIRED"},"consent":{"type":"NONE"}}}},"_links":{"self":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/policies/00p8zvju10xz4Ge6a1d7","hints":{"allow":["GET","PUT","DELETE"]}},"rules":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/policies/00p8zvju10xz4Ge6a1d7/rules","hints":{"allow":["GET","POST"]}},"deactivate":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/policies/00p8zvju10xz4Ge6a1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}},"type":"MFA_ENROLL"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 116.218255ms
    - id: 9
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/policies/00p8zvju10xz4Ge6a1d7/lifecycle/activate
        method: POST
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 96.757312ms
    - id: 10
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/policies/00p8zvju10xz4Ge6a1d7
        method: GET
      response:
        body: '{"id":"00p8zvju10xz4Ge6a1d7","status":"ACTIVE","name":"testAcc_2343039602","description":"Terraform Acceptance Test MFA Policy","priority":1,"system":false,"condit[...]
[...]
    - id: 22
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/org/factors/okta_password
        method: GET
      response:
        body: '{"id":"okta_password","provider":"OKTA","factorType":"password","status":"ACTIVE","_links":{"self":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/org/factors/okta_password","hints":{"allow":["GET"]}},"deactivate":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/org/factors/okta_password/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 70.660809ms
[...]
    - id: 25
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/policies/00p8zvju10xz4Ge6a1d7/lifecycle/deactivate
        method: POST
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 106.458519ms
[...]
    - id: 35
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/org/factors/okta_email/lifecycle/deactivate
        method: POST
      response:
        body: '{"id":"okta_email","provider":"OKTA","factorType":"email","status":"INACTIVE","_links":{"activate":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/org/factors/okta_email/lifecycle/activate","hints":{"allow":["POST"]}},"self":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/org/factors/okta_email","hints":{"allow":["GET"]}}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 66.118375ms
    - id: 36
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/org/factors/okta_password/lifecycle/deactivate
        method: POST
      response:
        body: '{"errorCode":"E0000020","errorSummary":"Bad request.","errorLink":"E0000020","errorId":"oaej1azi-UBRT-j69Sskj0hMg","errorCauses":[]}'
        headers:
            Content-Type:
                - application/json
        status: 400 Bad Request
        code: 400
        duration: 64.919101ms
    - id: 37
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/org/factors/google_otp/lifecycle/deactivate
        method: POST
      response:
        body: '{"id":"google_otp","provider":"GOOGLE","factorType":"token:software:totp","status":"INACTIVE","_links":{"activate":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/org/factors/google_otp/lifecycle/activate","hints":{"allow":["POST"]}},"self":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/org/factors/google_otp","hints":{"allow":["GET"]}}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 86.753616ms
