---
version: 2
interactions:
    - id: 0
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/org/factors/okta_password
        method: GET
      response:
        body: '{"id":"okta_password","provider":"OKTA","factorType":"password","status":"ACTIVE","_links":{"profiles":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/org/factors/okta_password/profiles","hints":{"allow":["GET","POST"]}},"self":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/org/factors/okta_password","hints":{"allow":["GET"]}},"deactivate":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/org/factors/okta_password/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 161.555928ms
[...]
    - id: 2
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/policies?type=MFA_ENROLL
        method: GET
      response:
        body: '[{"id":"00p61ie814HusCkTk1d7","status":"ACTIVE","name":"Default Policy","description":"The default policy applies in all situations if no other policy applies.","priority":1,"system":true,"conditions":{"people":{"groups":{"include":["00g5qwjvgrD3WR89l1d7"]}}},"created":"2022-11-04T22:27:14.000Z","lastUpdated":"2023-07-19T23:35:06.000Z","settings":{"type":"AUTHENTICATORS","authenticators":[{"key":"custom_otp","enroll":{"self":"NOT_ALLOWED"}},{"key":"okta_email","enroll":{"self":"REQUIRED"}},{"key":"okta_verify","enroll":{"self":"OPTIONAL"}},{"key":"okta_password","enroll":{"self":"REQUIRED"}},{"key":"phone_number","enroll":{"self":"NOT_ALLOWED"}}]},"_links":{"self":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/policies/00p61ie814HusCkTk1d7","hints":{"allow":["GET","PUT"]}},"rules":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/policies/00p61ie814HusCkTk1d7/rules","hints":{"allow":["GET","POST"]}}},"type":"MFA_ENROLL"}]'
        headers:
            Content-Type:
                - application/json
            Link:
                - <https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/policies?type=MFA_ENROLL>; rel="self"
        status: 200 OK
        code: 200
        duration: 58.813318ms
    - id: 3
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups?q=Everyone
        method: GET
      response:
        body: '[{"id":"00g5qwjvgrD3WR89l1d7","created":"2022-10-07T23:16:57.000Z","lastUpdated":"2022-10-07T23:16:57.000Z","lastMembershipUpdated":"2023-07-19T23:44:00.000Z","objectClass":["okta:user_group"],"type":"BUILT_IN","profile":{"name":"Everyone","description":"All users in your organization"},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups/00g5qwjvgrD3WR89l1d7/users"},"apps":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups/00g5qwjvgrD3WR89l1d7/apps"}}}]'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 55.209641ms
    - id: 4
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: |
            {"conditions":{"people":{"groups":{"include":["00g5qwjvgrD3WR89l1d7"]}}},"description":"The default policy applies in all situations if no other policy applies.","name":"Default Policy","priority":1,"status":"ACTIVE","type":"MFA_ENROLL","settings":{"factors":{"okta_password":{"enroll":{"self":"REQUIRED"}}},"type":"FACTORS"}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/policies/00p61ie814HusCkTk1d7
        method: PUT
      response:
        body: '{"id":"00p61ie814HusCkTk1d7","status":"ACTIVE","name":"Default Policy","description":"The default policy applies in all situations if no other policy applies.","priority":1,"system":true,"conditions":{"people":{"groups":{"include":["00g5qwjvgrD3WR89l1d7"]}}},"created":"2022-11-04T22:27:14.000Z","lastUpdated":"2023-07-19T23:44:26.000Z","settings":{"type":"FACTORS","factors":{"okta_otp":{"enroll":{"self":"NOT_ALLOWED"},"consent":{"type":"NONE"}},"okta_sms":{"enroll":{"self":"NOT_ALLOWED"},"consent":{"type":"NONE"}},"okta_push":{"enroll":{"self":"NOT_ALLOWED"},"consent":{"type":"NONE"}},"hotp":{"enroll":{"self":"NOT_ALLOWED"},"consent":{"type":"NONE"}},"okta_password":{"enroll":{"self":"REQUIRED"},"consent":{"type":"NONE"}}}},"_links":{"self":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/policies/00p61ie814HusCkTk1d7","hints":{"allow":["GET","PUT"]}},"rules":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/policies/00p61ie814HusCkTk1d7/rules","hints":{"allow":["GET","POST"]}}},"type":"MFA_ENROLL"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 139.509899ms
[...]
    - id: 10
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/org/factors/google_otp
        method: GET
      response:
        body: '{"id":"google_otp","provider":"GOOGLE","factorType":"token:software:totp","status":"INACTIVE","_links":{"activate":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/org/factors/google_otp/lifecycle/activate","hints":{"allow":["POST"]}},"self":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/org/factors/google_otp","hints":{"allow":["GET"]}}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 72.893872ms
    - id: 11
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/org/factors/google_otp/lifecycle/activate
        method: POST
      response:
        body: '{"id":"google_otp","provider":"GOOGLE","factorType":"token:software:totp","status":"ACTIVE","_links":{"self":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/org/factors/google_otp","hints":{"allow":["GET"]}},"deactivate":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/org/factors/google_otp/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 180.357374ms
[...]
    - id: 13
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: |
            {"conditions":{"people":{"groups":{"include":["00g5qwjvgrD3WR89l1d7"]}}},"description":"The default policy applies in all situations if no other policy applies.","name":"Default Policy","priority":1,"status":"ACTIVE","type":"MFA_ENROLL","settings":{"factors":{"google_otp":{"enroll":{"self":"OPTIONAL"}},"okta_otp":{"consent":{"type":"NONE"},"enroll":{"self":"NOT_ALLOWED"}},"okta_password":{"consent":{"type":"NONE"},"enroll":{"self":"REQUIRED"}},"okta_push":{"consent":{"type":"NONE"},"enroll":{"self":"NOT_ALLOWED"}},"okta_sms":{"consent":{"type":"NONE"},"enroll":{"self":"NOT_ALLOWED"}}},"type":"FACTORS"}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        [...]
[...]
    - id: 21
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/org/factors/google_otp/lifecycle/deactivate
        method: POST
      response:
        body: '{"id":"google_otp","provider":"GOOGLE","factorType":"token:software:totp","status":"INACTIVE","_links":{"activate":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/org/factors/google_otp/lifecycle/activate","hints":{"allow":["POST"]}},"self":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/org/factors/google_otp","hints":{"allow":["GET"]}}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 82.29467ms
[...]
    - id: 24
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/org/factors/okta_password/lifecycle/deactivate
        method: POST
      response:
        body: '{"errorCode":"E0000020","errorSummary":"Bad request.","errorLink":"E0000020","errorId":"oaex48YXJRZTlC8-d48eOnePw","errorCauses":[]}'
        headers:
            Content-Type:
                - application/json
        status: 400 Bad Request
        code: 400
        duration: 87.912662ms
