---
version: 2
interactions:
    - id: 0
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: |
            {"label":"testAcc_3219983165","description":"testing, testing","resources":["https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users","https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/apps","https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups"]}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/iam/resource-sets
        method: POST
      response:
        body: '{"id":"iam8zutfc7jMvdNvV1d7","label":"testAcc_3219983165","description":"testing, testing","created":"2023-07-19T23:47:02.000Z","lastUpdated":"2023-07-19T23:47:02.000Z","_links":{"bindings":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/iam/resource-sets/iam8zutfc7jMvdNvV1d7/bindings"},"self":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/iam/resource-sets/iam8zutfc7jMvdNvV1d7"},"resources":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/iam/resource-sets/iam8zutfc7jMvdNvV1d7/resources"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 217.972198ms
    - id: 1
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/iam/resource-sets/iam8zutfc7jMvdNvV1d7
        method: GET
      response:
        body: '{"id":"iam8zutfc7jMvdNvV1d7","label":"testAcc_3219983165","description":"testing, testing","created":"2023-07-19T23:47:02.000Z","lastUpdated":"2023-07-19T23:47:02.000Z","_links":{"bindings":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/iam/resource-sets/iam8zutfc7jMvdNvV1d7/bindings"},"self":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/iam/resource-sets/iam8zutfc7jMvdNvV1d7"},"resources":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/iam/resource-sets/iam8zutfc7jMvdNvV1d7/resources"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 73.385395ms
    - id: 2
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/iam/resource-sets/iam8zutfc7jMvdNvV1d7/resources?limit=200
        method: GET
      response:
        body: '{"resources":[{"id":"ire8zutfc8pgTmSBR1d7","orn":"orn:oktapreview:idp:00o5qwjvg8hg7YpT81d7:apps","created":"2023-07-19T23:47:02.000Z","lastUpdated":"2023-07-19T23:47:02.000Z","_links":{"self":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/apps"}}},{"id":"ire8zutfc9aDpmBrk1d7","orn":"orn:oktapreview:directory:00o5qwjvg8hg7YpT81d7:users","created":"2023-07-19T23:47:02.000Z","lastUpdated":"2023-07-19T23:47:02.000Z","_links":{"self":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users"},"users":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users"}}},{"id":"ire8zutfcaxbjPnyo1d7","orn":"orn:oktapreview:directory:00o5qwjvg8hg7YpT81d7:groups","created":"2023-07-19T23:47:02.000Z","lastUpdated":"2023-07-19T23:47:02.000Z","_links":{"groups":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups"},"self":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups"}}}],"_links":{"resource-set":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/iam/resource-sets/iam8zutfc7jMvdNvV1d7"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 64.168789ms
[...]
    - id: 9
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/iam/resource-sets/iam8zutfc7jMvdNvV1d7/resources/ire8zutfcaxbjPnyo1d7
        method: DELETE
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 66.952292ms
[...]
