---
version: 2
interactions:
    - id: 0
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: |
            {"credentials":{"password":{}},"profile":{"email":"testAcc-3541569298@example.com","firstName":"TestAcc","lastName":"Smith","login":"testAcc-3541569298@example.com","postalAddress":null}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users?activate=false
        method: POST
      response:
        body: '{"id":"00u8zutkfrCKeOxi11d7","status":"STAGED","created":"2023-07-19T23:49:38.000Z","activated":null,"statusChanged":null,"lastLogin":null,"lastUpdated":"2023-07-19T23:49:38.000Z","passwordChanged":null,"type":{"id":"oty5qwjvh0Vy1j8Kd1d7"},"profile":{"firstName":"TestAcc","lastName":"Smith","mobilePhone":null,"secondEmail":null,"login":"testAcc-3541569298@example.com","email":"testAcc-3541569298@example.com"},"credentials":{"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"schema":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/meta/schemas/user/osc5qwjvh0Vy1j8Kd1d7"},"activate":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/00u8zutkfrCKeOxi11d7/lifecycle/activate","method":"POST"},"self":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/00u8zutkfrCKeOxi11d7"},"resetFactors":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/00u8zutkfrCKeOxi11d7/lifecycle/reset_factors","method":"POST"},"type":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/meta/types/user/oty5qwjvh0Vy1j8Kd1d7"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 273.166371ms
    - id: 1
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/00u8zutkfrCKeOxi11d7
        method: GET
      response:
        body: '{"id":"00u8zutkfrCKeOxi11d7","status":"STAGED","created":"2023-07-19T23:49:38.000Z","activated":null,"statusChanged":null,"lastLogin":null,"lastUpdated":"2023-07-19T23[...]
[...]
    - id: 5
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/00u8zutkfrCKeOxi11d7/lifecycle/activate
        method: POST
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 219.829205ms
    - id: 6
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/00u8zutkfrCKeOxi11d7
        method: GET
      response:
        body: '{"id":"00u8zutkfrCKeOxi11d7","status":"PROVISIONED","created":"2023-07-19T23:49:38.000Z","activated":"2023-07-19T23:49:41.000Z","statusChanged":"2023-07-19T23:49:41.000Z","lastLogin":null,"lastUpdated":"2023-07-19T23:49:41.000Z","passwordChanged":null,"type":{"id":"oty5qwjvh0Vy1j8Kd1d7"},"profile":{"firstName":"TestAcc","lastName":"Smith","mobilePhone":null,"secondEmail":null,"login":"testAcc-3541569298@example.com","email":"testAcc-3541569298@example.com"},"credentials":{"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"suspend":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/00u8zutkfrCKeOxi11d7/lifecycle/suspend","method":"POST"},"schema":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/meta/schemas/user/osc5qwjvh0Vy1j8Kd1d7"},"resetPassword":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/00u8zutkfrCKeOxi11d7/lifecycle/reset_password","method":"POST"},"reactivate":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/00u8zutkfrCKeOxi11d7/lifecycle/reactivate","method":"POST"},"self":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/00u8zutkfrCKeOxi11d7"},"resetFactors":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/00u8zutkfrCKeOxi11d7/lifecycle/reset_factors","method":"POST"},"type":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/meta/types/user/oty5qwjvh0Vy1j8Kd1d7"},"deactivate":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/00u8zutkfrCKeOxi11d7/lifecycle/deactivate","method":"POST"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 88.158885ms
    - id: 7
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: |
            {"profile":{"city":"New York","costCenter":"10","countryCode":"US","department":"IT","displayName":"Dr. TestAcc Smith","division":"Acquisitions","email":"testAcc-3541569298@example.com","employeeNumber":"111111","firstName":"TestAcc","honorificPrefix":"Dr.","honorificSuffix":"Jr.","lastName":"Smith","locale":"en_US","login":"testAcc-3541569298@example.com","manager":"Jimbo","managerId":"222222","middleName":"John","mobilePhone":"1112223333","nickName":"Johnny","organization":"Testing Inc.","postalAddress":"1234 Testing St.","preferredLanguage":"en-us","primaryPhone":"4445556666","profileUrl":"http://www.example.com/profile","secondEmail":"test2-3541569298@example.com","state":"NY","streetAddress":"5678 Testing Ave.","timezone":"America/New_York","title":"Director","userType":"Employee","zipCode":"11111"}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/00u8zutkfrCKeOxi11d7
        method: PUT
      response:
        body: '{"id":"00u8zutkfrCKeOxi11d7","status":"PROVISIONED","created":"2023-07-19T23:49:38.000Z","activated":"2023-07-19T23:49:41.000Z","statusChanged":"2023-07-19T23:49:41.000Z","lastLogin":null,"las[...]
[...]
