---
version: 2
interactions:
    - id: 0
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: |
            {"profile":{"name":"testAcc_4005845523_3","description":""}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups
        method: POST
      response:
        body: '{"id":"00g8ztbp2jBb7TW451d7","created":"2023-07-19T22:48:34.000Z","lastUpdated":"2023-07-19T22:48:34.000Z","lastMembershipUpdated":"2023-07-19T22:48:34.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc_4005845523_3","description":""},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups/00g8ztbp2jBb7TW451d7/users"},"apps":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups/00g8ztbp2jBb7TW451d7/apps"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 237.645936ms
[...]
    - id: 3
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups/00g8ztbp2jBb7TW451d7
        method: GET
      response:
        body: '{"id":"00g8ztbp2jBb7TW451d7","created":"2023-07-19T22:48:34.000Z","lastUpdated":"2023-07-19T22:48:34.000Z","lastMembershipUpdated":"2023-07-19T22:48:34.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc_4005845523_3","description":""},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups/00g8ztbp2jBb7TW451d7/users"},"apps":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups/00g8ztbp2jBb7TW451d7/apps"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 72.867388ms
    - id: 4
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups/00g8zta5m5AnaRq6E1d7
        method: GET
      response:
        body: '{"id":"00g8zta5m5AnaRq6E1d7","created":"2023-07-19T22:48:34.000Z","lastUpdated":"2023-07-19T22:48:34.000Z","lastMembershipUpdated":"2023-07-19T22:48:34.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc_4005845523","description":""},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups/00g8zta5m5AnaRq6E1d7/users"},"apps":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups/00g8zta5m5AnaRq6E1d7/apps"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 86.45192ms
    - id: 5
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups/00g8ztb2toSBqKgHI1d7
        method: GET
      response:
        body: '{"id":"00g8ztb2toSBqKgHI1d7","created":"2023-07-19T22:48:34.000Z","lastUpdated":"2023-07-19T22:48:34.000Z","lastMembershipUpdated":"2023-07-19T22:48:34.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc_4005845523_2","description":""},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups/00g8ztb2toSBqKgHI1d7/users"},"apps":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups/00g8ztb2toSBqKgHI1d7/apps"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 72.97761ms
[...]
    - id: 9
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: |
            {"accessibility":{"selfService":false},"credentials":{"userNameTemplate":{"template":"${source.login}","type":"BUILT_IN"},"oauthClient":{"autoKeyRotation":true,"pkce_required":false,"token_endpoint_auth_method":"client_secret_basic"}},"label":"testAcc_4005845523","name":"oidc_client","settings":{"app":{},"implicitAssignment":false,"notes":{"admin":null,"enduser":null},"oauthClient":{"application_type":"web","consent_method":"TRUSTED","grant_types":["authorization_code","implicit"],"idp_initiated_login":{"default_scope":[],"mode":"DISABLED"},"issuer_mode":"ORG_URL","redirect_uris":["http://d.com/"],"response_types":["code","token","id_token"],"wildcard_redirect":"DISABLED"}},"signOnMode":"OPENID_CONNECT","visibility":{"autoSubmitToolbar":false,"hide":{"iOS":true,"web":true}}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/apps?activate=true
        method: POST
      response:
        body: '{"id":"0oa8zt9h7sOTIoPPk1d7","name":"oidc_client","label":"testAcc_4005845523","status":"ACTIVE","lastUpdated":"2023-07-19T22:48:35.000Z","created":"2023-07-19T22:48:35.000Z","accessibility":{"selfService":false,"errorRedirectUrl":null,"loginRedirectUrl":null},"visibility":{"autoLaunch":false,"autoSubmitToolbar":false,"hide":{"iOS":true,"web":true},"appLinks":{"oidc_client_link":true}},"features":[],"signOnMode":"OPENID_CONNECT","credentials":{"userNameTemplate":{"template":"${source.login}","type":"BUILT_IN"},"signing":{"kid":"N60VbAntJ7ONHTQr7YcAiywke_a08RzPdv9okaextIA"},"oauthClient":{"autoKeyRotation":true,"client_id":"0oa8zt9h7sOTIoPPk1d7","client_secret":"unWav8QjtMy0ZpqOpFToSwOro9p_4s_XZu1naHlCq6EkoBkhDesJizSUlyZK9y52","token_endpoint_auth_method":"client_secret_basic","pkce_required":false}},"settings":{"app":{},"notifications":{"vpn":{"network":{"connection":"DISABLED"},"message":null,"helpUrl":null}},"manualProvisioning":false,"implicitAssignment":false,"notes":{"admin":null,"enduser":null},"oauthClient":{"client_uri":null,"logo_uri":null,"redirect_uris":["http://d.com/"],"response_types":["code","token","id_token"],"grant_types":["authorization_code","implicit"],"application_type":"web","consent_method":"TRUSTED","issuer_mode":"ORG_URL","idp_initiated_login":{"mode":"DISABLED","default_scope":[]},"wildcard_redirect":"DISABLED","dpop_bound_access_tokens":false,"participate_slo":false}},"_links":{"uploadLogo":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/apps/0oa8zt9h7sOTIoPPk1d7/logo","hints":{"allow":["POST"]}},"appLinks":[{"name":"oidc_client_link","href":"https://mm-oie-2022-10-07-max.oktapreview.com/home/oidc_client/0oa8zt9h7sOTIoPPk1d7/aln177a159h7Zf52X0g8","type":"text/html"}],"profileEnrollment":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/policies/rst5qwjvlxUHivL8a1d7"},"policies":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/apps/0oa8zt9h7sOTIoPPk1d7/policies","hints":{"allow":["PUT"]}},"groups":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/apps/0oa8zt9h7sOTIoPPk1d7/groups"},"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/default.6770228fb0dab49a1695ef440a5279bb.png","type":"image/png"}],"clientCredentials":[{"name":"secrets","href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/apps/0oa8zt9h7sOTIoPPk1d7/credentials/secrets"}],"accessPolicy":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/policies/rst5qwjvlvS3G1WOU1d7"},"users":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/apps/0oa8zt9h7sOTIoPPk1d7/users"},"deactivate":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/apps/0oa8zt9h7sOTIoPPk1d7/lifecycle/deactivate"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.166933138s
    - id: 10
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/.well-known/okta-organization
        method: GET
      response:
        body: '{"id":"00o5qwjvg8hg7YpT81d7","cell":"op3","_links":{"organization":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com"}},"pipeline":"idx","settings":{"analyticsCollectionEnabled":false,"bugReportingEnabled":true,"omEnabled":false,"pssoEnabled":false}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 53.969022ms
    - id: 11
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/policies?type=ACCESS_POLICY
        method: GET
      response:
        body: '[{"id":"rst5qwjvkl70Eb6xw1d7","status":"ACTIVE","name":"Okta Admin Console","priority":1,"system":false,"conditions":null,"created":"2022-10-07T23:17:01.000Z","lastUpdated":"2022-10-07T23:17:01.000Z","_links":{"self":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/policies/rst5qwjvkl70Eb6xw1d7","hints":{"allow":["GET","PUT","DELETE"]}},"rules":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/policies/rst5qwjvkl70Eb6xw1d7/rules","hints":{"allow":["GET","POST"]}},"deactivate":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/policies/rst5qwjvkl70Eb6xw1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}},"type":"ACCESS_POLICY"},{"id":"rst5qwjvlvS3G1WOU1d7","status":"ACTIVE","name":"Any two factors","description":"Require two factors to access.","priority":1,"system":true,"conditions":null,"created":"2022-10-07T2[...]
    - id: 12
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/apps/0oa8zt9h7sOTIoPPk1d7/policies/rst5qwjvlvS3G1WOU1d7
        method: PUT
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 101.024085ms
    - id: 13
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/apps/0oa8zt9h7sOTIoPPk1d7
        method: GET
      response:
        body: '{"id":"0oa8zt9h7sOTIoPPk1d7","name":"oidc_client","label":"testAcc_4005845523","status":"ACTIVE","lastUpdated":"2023-07-19T22:48:35.000Z","created":"2023-07-19T22:48:3[...]
    - id: 14
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/internal/apps/0oa8zt9h7sOTIoPPk1d7/settings/oauth/idToken
        method: GET
      response:
        body: '{"issuer":"https://mm-oie-2022-10-07-max.oktapreview.com","orgUrl":null,"customUrl":null,"audience":"0oa8zt9h7sOTIoPPk1d7","issuerMode":"ORG_URL"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 74.513594ms
    - id: 15
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: |
            {"id":"00g8zta5m5AnaRq6E1d7","priority":1,"profile":{}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/apps/0oa8zt9h7sOTIoPPk1d7/groups/00g8zta5m5AnaRq6E1d7
        method: PUT
      response:
        body: '{"id":"00g8zta5m5AnaRq6E1d7","lastUpdated":"2023-07-19T22:48:37.000Z","priority":1,"profile":{},"_links":{"app":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/apps/0oa8zt9h7sOTIoPPk1d7"},"self":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/apps/0oa8zt9h7sOTIoPPk1d7/groups/00g8zta5m5AnaRq6E1d7"},"group":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups/00g8zta5m5AnaRq6E1d7"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 128.19937ms
    - id: 16
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: |
            {"id":"00g8ztb2toSBqKgHI1d7","priority":2,"profile":{}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/apps/0oa8zt9h7sOTIoPPk1d7/groups/00g8ztb2toSBqKgHI1d7
        method: PUT
      response:
        body: '{"id":"00g8ztb2toSBqKgHI1d7","lastUpdated":"2023-07-19T22:48:38.000Z","priority":2,"profile":{},"_links":{"app":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/apps/0oa8zt9h7sOTIoPPk1d7"},"self":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/apps/0oa8zt9h7sOTIoPPk1d7/groups/00g8ztb2toSBqKgHI1d7"},"group":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups/00g8ztb2toSBqKgHI1d7"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 107.517592ms
    - id: 17
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: |
            {"id":"00g8ztbp2jBb7TW451d7","priority":3,"profile":{}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/apps/0oa8zt9h7sOTIoPPk1d7/groups/00g8ztbp2jBb7TW451d7
        method: PUT
      response:
        body: '{"id":"00g8ztbp2jBb7TW451d7","lastUpdated":"2023-07-19T22:48:38.000Z","priority":3,"profile":{},"_links":{"app":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/apps/0oa8zt9h7sOTIoPPk1d7"},"self":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/apps/0oa8zt9h7sOTIoPPk1d7/groups/00g8ztbp2jBb7TW451d7"},"group":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups/00g8ztbp2jBb7TW451d7"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 153.697702ms
    - id: 18
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/apps/0oa8zt9h7sOTIoPPk1d7/groups?limit=200
        method: GET
      response:
        body: '[{"id":"00g8zta5m5AnaRq6E1d7","lastUpdated":"2023-07-19T22:48:37.000Z","priority":1,"profile":{},"_links":{"app":{"href":"https://mm-oie-2022-10-07-ma[...]
    - id: 19
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/apps/0oa8zt9h7sOTIoPPk1d7/groups
        method: GET
      response:
        body: '[{"id":"00g8zta5m5AnaRq6E1d7","lastUpdated":"2023-07-19T22:48:37.000Z","priority":1,"profile":{},"_links":{"app":{"href":"https://mm-oie-2022-10-07-max.oktaprev[...]
[...]
    - id: 34
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/apps/0oa8zt9h7sOTIoPPk1d7/lifecycle/deactivate
        method: POST
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 103.277073ms
[...]
