---
version: 2
interactions:
    - id: 0
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: |
            {"credentials":{"password":{}},"profile":{"email":"testAcc-3cpwtp1tzc@example.com","firstName":"TestAcc","lastName":"3cpwtp1tzc","login":"testAcc-3cpwtp1tzc@example.com","notValid":"this-isnt-valid","postalAddress":null}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users
        method: POST
      response:
        body: '{"errorCode":"E0000001","errorSummary":"Api validation failed: newUser","errorLink":"E0000001","errorId":"oaeNH4QZHpYTmmrQjK8OCaRZw","errorCauses":[{"errorSummary":"Property name ''notValid'' is not defined in profile"}]}'
        headers:
            Content-Type:
                - application/json
        status: 400 Bad Request
        code: 400
        duration: 332.862943ms
