---
version: 2
interactions:
    - id: 0
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: |
            {"profile":{"name":"testAcc-2107169499","description":"A Group"}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/groups
        method: POST
      response:
        body: '{"id":"00g8zv4ja63DSurnA1d7","created":"2023-07-20T00:06:14.000Z","lastUpdated":"2023-07-20T00:06:14.000Z","lastMembershipUpdated":"2023-07-20T00:06:14.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc-2107169499","description":"A Group"},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/groups/00g8zv4ja63DSurnA1d7/users"},"apps":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/groups/00g8zv4ja63DSurnA1d7/apps"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 155.073098ms
    - id: 1
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: |
            {"credentials":{"password":{}},"profile":{"email":"testAcc-2107169499@example.com","firstName":"TestAcc","lastName":"Smith","login":"testAcc-2107169499@example.com","postalAddress":null}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/users
        method: POST
      response:
        body: '{"id":"00u8zv3bqipGYOJcg1d7","status":"PROVISIONED","created":"2023-07-20T00:06:14.000Z","activated":"2023-07-20T00:06:14.000Z","statusChanged":"2023-07-20T00:06:14.000Z","lastLogin":null,"lastUpdated":"2023-07-20T00:06:14.000Z","passwordChanged":null,"type":{"id":"oty5ptm052JMcoADv1d7"},"profile":{"firstName":"TestAcc","lastName":"Smith","mobilePhone":null,"secondEmail":null,"login":"testAcc-2107169499@example.com","email":"testAcc-2107169499@example.com"},"credentials":{"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"suspend":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u8zv3bqipGYOJcg1d7/lifecycle/suspend","method":"POST"},"schema":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/meta/schemas/user/osc5ptm052JMcoADv1d7"},"resetPassword":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u8zv3bqipGYOJcg1d7/lifecycle/reset_password","method":"POST"},"reactivate":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u8zv3bqipGYOJcg1d7/lifecycle/reactivate","method":"POST"},"self":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u8zv3bqipGYOJcg1d7"},"type":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/meta/types/user/oty5ptm052JMcoADv1d7"},"deactivate":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u8zv3bqipGYOJcg1d7/lifecycle/deactivate","method":"POST"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 336.187183ms
    - id: 2
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/groups/00g8zv4ja63DSurnA1d7
        method: GET
      response:
        body: '{"id":"00g8zv4ja63DSurnA1d7","created":"2023-07-20T00:06:14.000Z","lastUpdated":"2023-07-20T00:06:14.000Z","lastMembershipUpdated":"2023-07-20T00:06:14.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc-2107169499","description":"A Group"},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/groups/00g8zv4ja63DSurnA1d7/users"},"apps":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/groups/00g8zv4ja63DSurnA1d7/apps"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 77.363823ms
[...]
    - id: 4
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u8zv3bqipGYOJcg1d7
        method: GET
      response:
        body: '{"id":"00u8zv3bqipGYOJcg1d7","status":"PROVISIONED","created":"2023-07-20T00:06:14.000Z","activated":"2023-07-20T00:06:14.000Z","statusChanged":"2023-07-20T00:06:14.00[...]
    - id: 5
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/groups/00g8zv4ja63DSurnA1d7/users/00u8zv3bqipGYOJcg1d7
        method: PUT
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 112.348872ms
    - id: 6
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u8zv3bqipGYOJcg1d7/groups
        method: GET
      response:
        body: '[{"id":"00g5ptm04tzNvyznP1d7","created":"2022-10-04T23:20:18.000Z","lastUpdated":"2022-10-04T23:20:18.000Z","lastMembershipUpdated":"2023-07-20T00:06:07.000Z","[...]
    - id: 7
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: |
            {"type":"SUPER_ADMIN"}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u8zv3bqipGYOJcg1d7/roles?disableNotifications=false
        method: POST
      response:
        body: '{"id":"ra18zv3o5fWr923wR1d7","label":"Super Administrator","type":"SUPER_ADMIN","status":"ACTIVE","created":"2023-07-20T00:06:15.000Z","lastUpdated":"2023-07-20T00:06:15.000Z","assignmentType":"USER","_links":{"assignee":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u8zv3bqipGYOJcg1d7"}}}'
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 332.115173ms
[...]
    - id: 14
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u8zv3bqipGYOJcg1d7/roles
        method: GET
      response:
        body: '[{"id":"IFIFAX2BIRGUSTQ","label":"Application Administrator","type":"APP_ADMIN","status":"ACTIVE","created":"2023-07-20T00:06:16.000Z","lastUpdated":"2023-07-20T00:06:16.000Z","assignmentType":"USER","_links":{"assignee":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u8zv3bqipGYOJcg1d7"}}},{"id":"ra18zv3o5fWr923wR1d7","label":"Super Administrator","type":"SUPER_ADMIN","status":"ACTIVE","created":"2023-07-20T00:06:15.000Z","lastUpdated":"2023-07-20T00:06:15.000Z","assignmentType":"USER","_links":{"assignee":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u8zv3bqipGYOJcg1d7"}}}]'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 84.221797ms
[...]
    - id: 19
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u8zv3bqipGYOJcg1d7/roles/IFIFAX2BIRGUSTQ
        method: DELETE
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 100.529025ms
[...]
    - id: 21
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u8zv3bqipGYOJcg1d7/roles/ra18zv3o5fWr923wR1d7
        method: DELETE
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 375.783453ms
[...]
