---
version: 2
interactions:
    - id: 0
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/brands
        method: GET
      response:
        body: '[{"id":"bnd8zvf5fdKUTtqpu1d7","name":"example.com","removePoweredByOkta":false,"customPrivacyPolicyUrl":null,"agreeToCustomPrivacyPolicy":false,"isDefault":false,"defaultApp":{"appInstanceId":"0oa5ptm06yhOD6Njl1d7","appLinkName":null,"classicApplicationUri":null},"_links":{"themes":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/brands/bnd8zvf5fdKUTtqpu1d7/themes","hints":{"allow":["GET"]}},"self":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/brands/bnd8zvf5fdKUTtqpu1d7","hints":{"allow":["GET","PUT","DELETE"]}}}},{"id":"bnd5ptm04rUA5HWie1d7","name":"mm-classic-2022-10-04 ? ? ? ? ? ?","removePoweredByOkta":true,"customPrivacyPolicyUrl":"https://example.com/privacy-policy-updated","agreeToCustomPrivacyPolicy":true,"isDefault":true,"defaultApp":{"appInstanceId":"0oa5ptm06yhOD6Njl1d7","appLinkName":null,"classicApplicationUri":null},"_links":{"themes":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/brands/bnd5ptm04rUA5HWie1d7/themes","hints":{"allow":["GET"]}},"self":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/brands/bnd5ptm04rUA5HWie1d7","hints":{"allow":["GET","PUT","DELETE"]}}}},{"id":"bnd8zv4d09Pp1jIn31d7","name":"New Brand","removePoweredByOkta":true,"customPrivacyPolicyUrl":"https://example.com/privacy-policy-updated","agreeToCustomPrivacyPolicy":true,"isDefault":false,"defaultApp":{"appInstanceId":null,"appLinkName":null,"classicApplicationUri":null},"_links":{"themes":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/brands/bnd8zv4d09Pp1jIn31d7/themes","hints":{"allow":["GET"]}},"self":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/brands/bnd8zv4d09Pp1jIn31d7","hints":{"allow":["GET","PUT","DELETE"]}}}}]'
        headers:
            Content-Type:
                - application/json
            Link:
                - <https://mm-classic-2022-10-04.oktapreview.com/api/v1/brands?limit=20>; rel="self"
        status: 200 OK
        code: 200
        duration: 162.285806ms
[...]
    - id: 2
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: |
            {"brandId":"bnd8zvf5fdKUTtqpu1d7","displayName":"test","domain":"example.com","userName":"fff"}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/email-domains
        method: POST
      response:
        body: '{"id":"OeD8zvep0hfT9Kurq1d7","validationStatus":"NOT_STARTED","displayName":"test","userName":"fff","domain":"example.com","dnsValidationRecords":[{"recordType":"TXT","fqdn":"_oktaverification.example.com","verificationValue":"cc7117eef65c4d8384bacb44b47c1950"},{"recordType":"cname","fqdn":"mail.example.com","verificationValue":"u17769561.wl062.sendgrid.net"},{"recordType":"cname","fqdn":"p03._domainkey.example.com","verificationValue":"p03.domainkey.u17769561.wl062.sendgrid.net"},{"recordType":"cname","fqdn":"p032._domainkey.example.com","verificationValue":"p032.domainkey.u17769561.wl062.sendgrid.net"}]}'
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 366.624542ms
    - id: 3
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/email-domains/OeD8zvep0hfT9Kurq1d7
        method: GET
      response:
        body: '{"id":"OeD8zvep0hfT9Kurq1d7","validationStatus":"NOT_STARTED","displayName":"test","userName":"fff","domain":"example.com","dnsValidationRecords":[{"recordType":"TXT","fqdn":"_oktaverification.example.com","verificationValue":"cc7117eef65c4d8384bacb44b47c1950"},{"recordType":"cname","fqdn":"mail.example.com","verificationValue":"u17769561.wl062.sendgrid.net"},{"recordType":"cname","fqdn":"p03._domainkey.example.com","verificationValue":"p03.domainkey.u17769561.wl062.sendgrid.net"},{"recordType":"cname","fqdn":"p032._domainkey.example.com","verificationValue":"p032.domainkey.u17769561.wl062.sendgrid.net"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 63.471365ms
    - id: 4
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/brands
        method: GET
      response:
        body: '[{"id":"bnd8zvf5fdKUTtqpu1d7","name":"example.com","removePoweredByOkta":false,"customPrivacyPolicyUrl":null,"agreeToCustomPrivacyPolicy":false,"isDefault":false,"emailDomainId":"OeD8zvep0hfT9Kurq1d7","defaultApp":{"appInstanceId":"0oa5ptm06yhOD6Njl1d7","appLinkName":null,"classicApplicationUri":null},"_links":{"themes":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/brands/bnd8zvf5fdKUTtqpu1d7/themes","hints":{"allow":["GET"]}},"self":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/brands/bnd8zvf5fdKUTtqpu1d7","hints":{"allow":["GET","PUT","DELETE"]}},"emailDomain":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/email-domains/OeD8zvep0hfT9Kurq1d7","hints":{"allow":["GET","PUT"]}}}},{"id":"bnd5ptm04rUA5HWie1d7","name":"mm-classic-2022-10-04 ? ? ? ? ? ?","removePoweredByOkta":true,"customPrivacyPolicyUrl":"https://example.com/privacy-policy-updated","agreeToCustomPrivacyPolicy":true,"isDefault":true,"defaultApp":{"appInstanceId":"0oa5ptm06yhOD6Njl1d7","appLinkName":null,"classicApplicationUri":null},"_links":{"themes":{"href":"https://mm-classi[...]
[...]
