---
version: 2
interactions:
    - id: 0
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: |
            {"profile":{"name":"testAcc_3619540880","description":"testing, testing"}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/groups
        method: POST
      response:
        body: '{"id":"00g8zvd1b298WvCIl1d7","created":"2023-07-20T00:21:55.000Z","lastUpdated":"2023-07-20T00:21:55.000Z","lastMembershipUpdated":"2023-07-20T00:21:55.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc_3619540880","description":"testing, testing"},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/groups/00g8zvd1b298WvCIl1d7/users"},"apps":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/groups/00g8zvd1b298WvCIl1d7/apps"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 216.526415ms
    - id: 1
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: |
            {"credentials":{"password":{}},"profile":{"email":"testAcc4-3619540880@example.com","firstName":"TestAcc4","lastName":"Jenkins","login":"testAcc4-3619540880@example.com","postalAddress":null}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/users
        method: POST
      response:
        body: '{"id":"00u8zvejzkzvwawuQ1d7","status":"PROVISIONED","created":"2023-07-20T00:21:55.000Z","activated":"2023-07-20T00:21:55.000Z","statusChanged":"2023-07-20T00:21:55.000Z","lastLogin":null,"lastUpdated":"2023-07-20T00:21:55.000Z","passwordChanged":null,"type":{"id":"oty5ptm052JMcoADv1d7"},"profile":{"firstName":"TestAcc4","lastName":"Jenkins","mobilePhone":null,"secondEmail":null,"login":"testAcc4-3619540880@example.com","email":"testAcc4-3619540880@example.com"},"credentials":{"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"suspend":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u8zvejzkzvwawuQ1d7/lifecycle/suspend","method":"POST"},"schema":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/meta/schemas/user/osc5ptm052JMcoADv1d7"},"resetPassword":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u8zvejzkzvwawuQ1d7/lifecycle/reset_password","method":"POST"},"reactivate":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u8zvejzkzvwawuQ1d7/lifecycle/reactivate","method":"POST"},"self":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u8zvejzkzvwawuQ1d7"},"type":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/meta/types/user/oty5ptm052JMcoADv1d7"},"deactivate":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u8zvejzkzvwawuQ1d7/lifecycle/deactivate","method":"POST"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 394.905231ms
[...]
    - id: 4
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/groups/00g8zvd1b298WvCIl1d7
        method: GET
      response:
        body: '{"id":"00g8zvd1b298WvCIl1d7","created":"2023-07-20T00:21:55.000Z","lastUpdated":"2023-07-20T00:21:55.000Z","lastMembershipUpdated":"2023-07-20T00:21:55.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc_3619540880","description":"testing, testing"},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/groups/00g8zvd1b298WvCIl1d7/users"},"apps":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/groups/00g8zvd1b298WvCIl1d7/apps"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 64.955036ms
[...]
    - id: 7
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u8zvejzkzvwawuQ1d7
        method: GET
      response:
        body: '{"id":"00u8zvejzkzvwawuQ1d7","status":"PROVISIONED","created":"2023-07-20T00:21:55.000Z","activated":"2023-07-20T00:21:55.000Z","statusChanged":"2023-07-20T00:21:55.00[...]
    - id: 8
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u8zvfkktRGIwUux1d7
        method: GET
      response:
        body: '{"id":"00u8zvfkktRGIwUux1d7","status":"PROVISIONED","created":"2023-07-20T00:21:55.000Z","activated":"2023-07-20T00:21:55.000Z","statusChanged":"2023-07-20T00:21:55.00[...]
    - id: 9
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u8zvfkkugPZmjc41d7
        method: GET
      response:
        body: '{"id":"00u8zvfkkugPZmjc41d7","status":"PROVISIONED","created":"2023-07-20T00:21:55.000Z","activated":"2023-07-20T00:21:55.000Z","statusChanged":"2023-07-20T00:21:55.00[...]
    - id: 10
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u8zvdlbcd7hYixf1d7
        method: GET
      response:
        body: '{"id":"00u8zvdlbcd7hYixf1d7","status":"PROVISIONED","created":"2023-07-20T00:21:55.000Z","activated":"2023-07-20T00:21:55.000Z","statusChanged":"2023-07-20T00:21:55.0[...]
    - id: 11
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/groups/00g8zvd1b298WvCIl1d7/users/00u8zvdlbcd7hYixf1d7
        method: PUT
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 78.33415ms
    - id: 12
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/groups/00g8zvd1b298WvCIl1d7/users/00u8zvfkkugPZmjc41d7
        method: PUT
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 79.347182ms
    - id: 13
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/groups/00g8zvd1b298WvCIl1d7/users?limit=200
        method: GET
      response:
        body: '[{"id":"00u8zvdlbcd7hYixf1d7","status":"PROVISIONED","created":"2023-07-20T00:21:55.000Z","activated":"2023-07-20T00:21:55.000Z","statusChanged":"202[...]
[...]
    - id: 26
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/groups/00g8zvd1b298WvCIl1d7/users/00u8zvejzkzvwawuQ1d7
        method: PUT
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 108.992235ms
    - id: 27
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/groups/00g8zvd1b298WvCIl1d7/users/00u8zvfkktRGIwUux1d7
        method: PUT
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 102.95048ms
[...]
    - id: 48
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/groups/00g8zvd1b298WvCIl1d7/users?limit=200
        method: GET
      response:
        body: '[{"id":"00u8zvdlbcd7hYixf1d7","status":"PROVISIONED","created":"2023-07-20T00:21:55.000Z","activated":"2023-07-20T00:21:55.000Z","statusChanged":"2023-07-20T00:21:55.000Z","lastLogin":null,"lastUpdated":"2023-07-20T00:21:55.000Z","passwordChanged":null,"type":{"id":"oty5ptm052JMcoADv1d7"},"profile":{"firstName":"TestAcc1","lastName":"Smith","mobilePhone":null,"secondEmail":null,"login":"testAcc1-3619540880@example.com","email":"testAcc1-3619540880@example.com"},"credentials":{"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"self":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u8zvdlbcd7hYixf1d7"}}}]'
        headers:
            Content-Type:
                - application/json
            Link:
                - <https://mm-classic-2022-10-04.oktapreview.com/api/v1/groups/00g8zvd1b298WvCIl1d7/users?limit=200>; rel="self"
        status: 200 OK
        code: 200
        duration: 79.927308ms
[...]
