---
version: 2
interactions:
    - id: 0
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: |
            {"profile":{"name":"testAcc_3619540880","description":"testing, testing"}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups
        method: POST
      response:
        body: '{"id":"00g8zumxat9NBueMK1d7","created":"2023-07-19T23:41:19.000Z","lastUpdated":"2023-07-19T23:41:19.000Z","lastMembershipUpdated":"2023-07-19T23:41:19.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc_3619540880","description":"testing, testing"},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups/00g8zumxat9NBueMK1d7/users"},"apps":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups/00g8zumxat9NBueMK1d7/apps"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 166.547825ms
    - id: 1
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: |
            {"credentials":{"password":{}},"profile":{"email":"testAcc3-3619540880@example.com","firstName":"TestAcc3","lastName":"Python","login":"testAcc3-3619540880@example.com","postalAddress":null}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users
        method: POST
      response:
        body: '{"id":"00u8zuosy8Gg8NXQe1d7","status":"PROVISIONED","created":"2023-07-19T23:41:19.000Z","activated":"2023-07-19T23:41:19.000Z","statusChanged":"2023-07-19T23:41:19.000Z","lastLogin":null,"lastUpdated":"2023-07-19T23:41:19.000Z","passwordChanged":null,"type":{"id":"oty5qwjvh0Vy1j8Kd1d7"},"profile":{"firstName":"TestAcc3","lastName":"Python","mobilePhone":null,"secondEmail":null,"login":"testAcc3-3619540880@example.com","email":"testAcc3-3619540880@example.com"},"credentials":{"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"suspend":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/00u8zuosy8Gg8NXQe1d7/lifecycle/suspend","method":"POST"},"schema":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/meta/schemas/user/osc5qwjvh0Vy1j8Kd1d7"},"resetPassword":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/00u8zuosy8Gg8NXQe1d7/lifecycle/reset_password","method":"POST"},"reactivate":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/00u8zuosy8Gg8NXQe1d7/lifecycle/reactivate","method":"POST"},"self":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/00u8zuosy8Gg8NXQe1d7"},"resetFactors":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/00u8zuosy8Gg8NXQe1d7/lifecycle/reset_factors","method":"POST"},"type":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/meta/types/user/oty5qwjvh0Vy1j8Kd1d7"},"deactivate":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/00u8zuosy8Gg8NXQe1d7/lifecycle/deactivate","method":"POST"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 346.375991ms
[...]
    - id: 3
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups/00g8zumxat9NBueMK1d7
        method: GET
      response:
        body: '{"id":"00g8zumxat9NBueMK1d7","created":"2023-07-19T23:41:19.000Z","lastUpdated":"2023-07-19T23:41:19.000Z","lastMembershipUpdated":"2023-07-19T23:41:19.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc_3619540880","description":"testing, testing"},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups/00g8zumxat9NBueMK1d7/users"},"apps":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups/00g8zumxat9NBueMK1d7/apps"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 88.331327ms
[...]
    - id: 7
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/00u8zupoa5YnybVSh1d7
        method: GET
      response:
        body: '{"id":"00u8zupoa5YnybVSh1d7","status":"PROVISIONED","created":"2023-07-19T23:41:19.000Z","activated":"2023-07-19T23:41:19.000Z","statusChanged":"2023-07-19T23:41:19.00[...]
    - id: 8
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/00u8zuosy8Gg8NXQe1d7
        method: GET
      response:
        body: '{"id":"00u8zuosy8Gg8NXQe1d7","status":"PROVISIONED","created":"2023-07-19T23:41:19.000Z","activated":"2023-07-19T23:41:19.000Z","statusChanged":"2023-07-19T23:41:19.00[...]
    - id: 9
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/00u8zunijrUmxspkN1d7
        method: GET
      response:
        body: '{"id":"00u8zunijrUmxspkN1d7","status":"PROVISIONED","created":"2023-07-19T23:41:19.000Z","activated":"2023-07-19T23:41:19.000Z","statusChanged":"2023-07-19T23:41:19.00[...]
    - id: 10
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/00u8zuo3p5j0bO45V1d7
        method: GET
      response:
        body: '{"id":"00u8zuo3p5j0bO45V1d7","status":"PROVISIONED","created":"2023-07-19T23:41:19.000Z","activated":"2023-07-19T23:41:19.000Z","statusChanged":"2023-07-19T23:41:19.0[...]
    - id: 11
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups/00g8zumxat9NBueMK1d7/users/00u8zupoa5YnybVSh1d7
        method: PUT
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 108.395615ms
    - id: 12
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups/00g8zumxat9NBueMK1d7/users/00u8zuo3p5j0bO45V1d7
        method: PUT
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 78.412898ms
    - id: 13
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups/00g8zumxat9NBueMK1d7/users?limit=200
        method: GET
      response:
        body: '[{"id":"00u8zuo3p5j0bO45V1d7","status":"PROVISIONED","created":"2023-07-19T23:41:19.000Z","activated":"2023-07-19T23:41:19.000Z","statusChanged":"202[...]
[...]
    - id: 26
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups/00g8zumxat9NBueMK1d7/users/00u8zunijrUmxspkN1d7
        method: PUT
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 120.582962ms
    - id: 27
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups/00g8zumxat9NBueMK1d7/users/00u8zuosy8Gg8NXQe1d7
        method: PUT
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 108.594052ms
[...]
    - id: 48
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups/00g8zumxat9NBueMK1d7/users?limit=200
        method: GET
      response:
        body: '[{"id":"00u8zuo3p5j0bO45V1d7","status":"PROVISIONED","created":"2023-07-19T23:41:19.000Z","activated":"2023-07-19T23:41:19.000Z","statusChanged":"2023-07-19T23:41:19.000Z","lastLogin":null,"lastUpdated":"2023-07-19T23:41:19.000Z","passwordChanged":null,"type":{"id":"oty5qwjvh0Vy1j8Kd1d7"},"profile":{"firstName":"TestAcc1","lastName":"Smith","mobilePhone":null,"secondEmail":null,"login":"testAcc1-3619540880@example.com","email":"testAcc1-3619540880@example.com"},"credentials":{"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"self":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/00u8zuo3p5j0bO45V1d7"}}}]'
        headers:
            Content-Type:
                - application/json
            Link:
                - <https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups/00g8zumxat9NBueMK1d7/users?limit=200>; rel="self"
        status: 200 OK
        code: 200
        duration: 68.474013ms
[...]
