---
version: 2
interactions:
    - id: 0
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: |
            {"name":"Custom","template":"${org.name} code is: ${code}","translations":{"en":"${org.name} code is: ${code}","es":"${org.name} es: ${code}."},"type":"SMS_VERIFY_CODE"}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/templates/sms
        method: POST
      response:
        body: '{"id":"cst8zvjuivIeNeTxI1d7","name":"Custom","type":"SMS_VERIFY_CODE","template":"${org.name} code is: ${code}","created":"2023-07-20T00:29:29.000Z","lastUpdated":"2023-07-20T00:29:29.000Z","translations":{"en":"${org.name} code is: ${code}","es":"${org.name} es: ${code}."}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 159.227856ms
    - id: 1
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/templates/sms/cst8zvjuivIeNeTxI1d7
        method: GET
      response:
        body: '{"id":"cst8zvjuivIeNeTxI1d7","name":"Custom","type":"SMS_VERIFY_CODE","template":"${org.name} code is: ${code}","created":"2023-07-20T00:29:29.000Z","lastUpdated":"2023-07-20T00:29:29.000Z","translations":{"en":"${org.name} code is: ${code}","es":"${org.name} es: ${code}."}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 83.043958ms
[...]
    - id: 4
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: |
            {"name":"Custom","template":"${org.name} updated code is: ${code}","translations":{"en":"${org.name} updated code is: ${code}","es":"${org.name} es: ${code}.","fr":"${org.name} est: ${code}."},"type":"SMS_VERIFY_CODE"}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/templates/sms/cst8zvjuivIeNeTxI1d7
        method: PUT
      response:
        body: '{"id":"cst8zvjuivIeNeTxI1d7","name":"Custom","type":"SMS_VERIFY_CODE","template":"${org.name} updated code is: ${code}","created":"2023-07-20T00:29:29.000Z","lastUpdated":"2023-07-20T00:29:31.000Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 90.333193ms
[...]
