---
version: 2
interactions:
    - id: 0
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: |
            {"name":"Custom","template":"${org.name} code is: ${code}","translations":{"en":"${org.name} code is: ${code}","es":"${org.name} es: ${code}."},"type":"SMS_VERIFY_CODE"}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/templates/sms
        method: POST
      response:
        body: '{"id":"cst8zuqsf3qTBKteZ1d7","name":"Custom","type":"SMS_VERIFY_CODE","template":"${org.name} code is: ${code}","created":"2023-07-19T23:47:08.000Z","lastUpdated":"2023-07-19T23:47:08.000Z","translations":{"en":"${org.name} code is: ${code}","es":"${org.name} es: ${code}."}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 212.62334ms
    - id: 1
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/templates/sms/cst8zuqsf3qTBKteZ1d7
        method: GET
      response:
        body: '{"id":"cst8zuqsf3qTBKteZ1d7","name":"Custom","type":"SMS_VERIFY_CODE","template":"${org.name} code is: ${code}","created":"2023-07-19T23:47:08.000Z","lastUpdated":"2023-07-19T23:47:08.000Z","translations":{"en":"${org.name} code is: ${code}","es":"${org.name} es: ${code}."}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 62.780091ms
[...]
    - id: 4
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: |
            {"name":"Custom","template":"${org.name} updated code is: ${code}","translations":{"en":"${org.name} updated code is: ${code}","es":"${org.name} es: ${code}.","fr":"${org.name} est: ${code}."},"type":"SMS_VERIFY_CODE"}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/templates/sms/cst8zuqsf3qTBKteZ1d7
        method: PUT
      response:
        body: '{"id":"cst8zuqsf3qTBKteZ1d7","name":"Custom","type":"SMS_VERIFY_CODE","template":"${org.name} updated code is: ${code}","created":"2023-07-19T23:47:08.000Z","lastUpdated":"2023-07-19T23:47:10.000Z"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 80.902716ms
[...]
