---
version: 2
interactions:
    - id: 0
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: |
            {"audiences":["whatever.rise.zone"],"credentials":{"signing":{"rotationMode":"AUTO"}},"description":"test","issuerMode":"ORG_URL","name":"testAcc_4134091251"}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/authorizationServers
        method: POST
      response:
        body: '{"id":"aus8zukksksPjDf3R1d7","name":"testAcc_4134091251","description":"test","audiences":["whatever.rise.zone"],"issuer":"https://mm-oie-2022-10-07-max.oktapreview.com/oauth2/aus8zukksksPjDf3R1d7","issuerMode":"ORG_URL","status":"ACTIVE","created":"2023-07-19T23:33:34.000Z","lastUpdated":"2023-07-19T23:33:34.000Z","credentials":{"signing":{"kid":"TR2gWXr49D1YxY4EhlsOaZcLwJH-xaCO7WZxM6Aso0s","rotationMode":"AUTO","lastRotated":"2023-07-19T23:33:34.000Z","nextRotation":"2023-10-17T23:33:34.000Z"}},"default":false,"_links":{"rotateKey":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/authorizationServers/aus8zukksksPjDf3R1d7/credentials/lifecycle/keyRotate","hints":{"allow":["POST"]}},"metadata":[{"name":"oauth-authorization-server","href":"https://mm-oie-2022-10-07-max.oktapreview.com/oauth2/aus8zukksksPjDf3R1d7/.well-known/oauth-authorization-server","hints":{"allow":["GET"]}},{"name":"openid-configuration","href":"https://mm-oie-2022-10-07-max.oktapreview.com/oauth2/aus8zukksksPjDf3R1d7/.well-known/openid-configuration","hints":{"allow":["GET"]}}],"keys":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/authorizationServers/aus8zukksksPjDf3R1d7/credentials/keys","hints":{"allow":["GET"]}},"claims":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/authorizationServers/aus8zukksksPjDf3R1d7/claims","hints":{"allow":["GET","POST"]}},"policies":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/authorizationServers/aus8zukksksPjDf3R1d7/policies","hints":{"allow":["GET","POST"]}},"self":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/authorizationServers/aus8zukksksPjDf3R1d7","hints":{"allow":["GET","DELETE","PUT"]}},"scopes":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/authorizationServers/aus8zukksksPjDf3R1d7/scopes","hints":{"allow":["GET","POST"]}},"deactivate":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/authorizationServers/aus8zukksksPjDf3R1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 421.021468ms
    - id: 1
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/authorizationServers/aus8zukksksPjDf3R1d7
        method: GET
      response:
        body: '{"id":"aus8zukksksPjDf3R1d7","name":"testAcc_4134091251","description":"test","audiences":["whatever.rise.zone"],"issuer":"https://mm-oie-2022-10-07-max[...]
    - id: 2
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: |
            {"alwaysIncludeInToken":true,"claimType":"RESOURCE","conditions":{},"name":"test","status":"ACTIVE","value":"cool","valueType":"EXPRESSION"}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/authorizationServers/aus8zukksksPjDf3R1d7/claims
        method: POST
      response:
        body: '{"id":"ocl8zujx27OzyPk701d7","name":"test","status":"ACTIVE","claimType":"RESOURCE","valueType":"EXPRESSION","value":"cool","conditions":{"scopes":[]},"system":false,"alwaysIncludeInToken":true,"apiResourceId":null,"_links":{"self":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/authorizationServers/aus8zukksksPjDf3R1d7/claims/ocl8zujx27OzyPk701d7","hints":{"allow":["GET","PUT","DELETE"]}}}}'
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 418.424371ms
    - id: 3
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/authorizationServers/aus8zukksksPjDf3R1d7/claims/ocl8zujx27OzyPk701d7
        method: GET
      response:
        body: '{"id":"ocl8zujx27OzyPk701d7","name":"test","status":"ACTIVE","claimType":"RESOURCE","valueType":"EXPRESSION","value":"cool","conditions":{"scopes":[]},"system":false,"alwaysIncludeInToken":true,"apiResourceId":null,"_links":{"self":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/authorizationServers/aus8zukksksPjDf3R1d7/claims/ocl8zujx27OzyPk701d7","hints":{"allow":["GET","PUT","DELETE"]}}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 261.933396ms
[...]
    - id: 13
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/authorizationServers/aus8zukksksPjDf3R1d7/lifecycle/deactivate
        method: POST
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 96.926515ms
[...]
