---
version: 2
interactions:
    - id: 0
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: |
            {"credentials":{"password":{"value":"Abcd1234"},"recovery_question":{"answer":"Forty Two","question":"What is the answer to life, the universe, and everything?"}},"profile":{"email":"testAcc-106508146@example.com","firstName":"TestAcc","lastName":"Smith","login":"testAcc-106508146@example.com","postalAddress":null}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/users
        method: POST
      response:
        body: '{"id":"00u8zvojs0GNkJKvb1d7","status":"ACTIVE","created":"2023-07-20T00:32:05.000Z","activated":"2023-07-20T00:32:06.000Z","statusChanged":"2023-07-20T00:32:06.000Z","lastLogin":null,"lastUpdated":"2023-07-20T00:32:06.000Z","passwordChanged":"2023-07-20T00:32:05.000Z","type":{"id":"oty5ptm052JMcoADv1d7"},"profile":{"firstName":"TestAcc","lastName":"Smith","mobilePhone":null,"secondEmail":null,"login":"testAcc-106508146@example.com","email":"testAcc-106508146@example.com"},"credentials":{"password":{},"recovery_question":{"question":"What is the answer to life, the universe, and everything?"},"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"suspend":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u8zvojs0GNkJKvb1d7/lifecycle/suspend","method":"POST"},"schema":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/meta/schemas/user/osc5ptm052JMcoADv1d7"},"resetPassword":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u8zvojs0GNkJKvb1d7/lifecycle/reset_password","method":"POST"},"forgotPassword":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u8zvojs0GNkJKvb1d7/credentials/forgot_password","method":"POST"},"expirePassword":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u8zvojs0GNkJKvb1d7/lifecycle/expire_password","method":"POST"},"changeRecoveryQuestion":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u8zvojs0GNkJKvb1d7/credentials/change_recovery_question","method":"POST"},"self":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u8zvojs0GNkJKvb1d7"},"type":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/meta/types/user/oty5ptm052JMcoADv1d7"},"changePassword":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u8zvojs0GNkJKvb1d7/credentials/change_password","method":"POST"},"deactivate":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u8zvojs0GNkJKvb1d7/lifecycle/deactivate","method":"POST"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 515.713471ms
    - id: 1
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u8zvojs0GNkJKvb1d7
        method: GET
      response:
        body: '{"id":"00u8zvojs0GNkJKvb1d7","status":"ACTIVE","created":"2023-07-20T00:32:05.000Z","activated":"2023-07-20T00:32:06.000Z","statusChanged":"2023-07-20T00:32:06.000Z","[...]
[...]
    - id: 7
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: |
            {"password":{"value":"SuperSecret007"},"recovery_question":{"answer":"Asterisk","question":"Which symbol has the ASCII code of Forty Two?"}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u8zvojs0GNkJKvb1d7/credentials/change_recovery_question
        method: POST
      response:
        body: '{"password":{},"recovery_question":{"question":"Which symbol has the ASCII code of Forty Two?"},"provider":{"type":"OKTA","name":"OKTA"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 457.36027ms
[...]
    - id: 13
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: |
            {"newPassword":{"value":"Super#Secret@007"},"oldPassword":{"value":"SuperSecret007"}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u8zvojs0GNkJKvb1d7/credentials/change_password
        method: POST
      response:
        body: '{"password":{},"recovery_question":{"question":"Which symbol has the ASCII code of Forty Two?"},"provider":{"type":"OKTA","name":"OKTA"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 496.745742ms
[...]
