---
version: 2
interactions:
    - id: 0
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/.well-known/okta-organization
        method: GET
      response:
        body: '{"id":"00o5qwjvg8hg7YpT81d7","cell":"op3","_links":{"organization":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com"}},"pipeline":"idx","settings":{"analyticsCollectionEnabled":false,"bugReportingEnabled":true,"omEnabled":false,"pssoEnabled":false}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 137.040698ms
    - id: 1
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: |
            {"name":"testAcc_2191941871","siteKey":"random_key","secretKey":"random_key","type":"HCAPTCHA"}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/captchas
        method: POST
      response:
        body: '{"id":"cap8zul9hqXk9BlE11d7","name":"testAcc_2191941871","siteKey":"random_key","type":"HCAPTCHA","_links":{"self":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/captchas/cap8zul9hqXk9BlE11d7","hints":{"allow":["GET","POST","PUT","DELETE"]}}}}'
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 95.140302ms
    - id: 2
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/captchas/cap8zul9hqXk9BlE11d7
        method: GET
      response:
        body: '{"id":"cap8zul9hqXk9BlE11d7","name":"testAcc_2191941871","siteKey":"random_key","type":"HCAPTCHA","_links":{"self":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/captchas/cap8zul9hqXk9BlE11d7","hints":{"allow":["GET","POST","PUT","DELETE"]}}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 68.42748ms
[...]
