---
version: 2
interactions:
    - id: 0
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: |
            {"label":"testAcc_467563841","description":"testing, testing","permissions":["okta.apps.assignment.manage"]}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/iam/roles
        method: POST
      response:
        body: '{"id":"cr08zv623tixDN7TG1d7","label":"testAcc_467563841","description":"testing, testing","created":"2023-07-20T00:08:09.000Z","lastUpdated":"2023-07-20T00:08:09.000Z","_links":{"permissions":{"href":"https://mm-classic-2022-10-04-admin.oktapreview.com/api/v1/iam/roles/cr08zv623tixDN7TG1d7/permissions"},"self":{"href":"https://mm-classic-2022-10-04-admin.oktapreview.com/api/v1/iam/roles/cr08zv623tixDN7TG1d7"}}}'
        headers:
            Content-Type:
                - application/json
            Link:
                - <https://mm-classic-2022-10-04-admin.oktapreview.com/api/v1/iam/roles/cr08zv623tixDN7TG1d7>; rel="self"
        status: 200 OK
        code: 200
        duration: 156.588098ms
    - id: 1
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/iam/roles/cr08zv623tixDN7TG1d7
        method: GET
      response:
        body: '{"id":"cr08zv623tixDN7TG1d7","label":"testAcc_467563841","description":"testing, testing","created":"2023-07-20T00:08:09.000Z","lastUpdated":"2023-07-20T00:08:09.000Z","_links":{"permissions":{"href":"https://mm-classic-2022-10-04-admin.oktapreview.com/api/v1/iam/roles/cr08zv623tixDN7TG1d7/permissions"},"self":{"href":"https://mm-classic-2022-10-04-admin.oktapreview.com/api/v1/iam/roles/cr08zv623tixDN7TG1d7"}}}'
        headers:
            Content-Type:
                - application/json
            Link:
                - <https://mm-classic-2022-10-04-admin.oktapreview.com/api/v1/iam/roles/cr08zv623tixDN7TG1d7>; rel="self"
        status: 200 OK
        code: 200
        duration: 61.930695ms
    - id: 2
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/iam/roles/cr08zv623tixDN7TG1d7/permissions
        method: GET
      response:
        body: '{"permissions":[{"label":"okta.apps.assignment.manage","created":"2023-07-20T00:08:09.000Z","lastUpdated":"2023-07-20T00:08:09.000Z","conditions":null,"_links":{"role":{"href":"https://mm-classic-2022-10-04-admin.oktapreview.com/api/v1/iam/roles/cr08zv623tixDN7TG1d7"},"self":{"href":"https://mm-classic-2022-10-04-admin.oktapreview.com/api/v1/iam/roles/cr08zv623tixDN7TG1d7/permissions/okta.apps.assignment.manage"}}}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 70.038181ms
[...]
    - id: 6
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/iam/roles/cr08zv623tixDN7TG1d7/permissions/okta.users.read
        method: POST
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 141.237809ms
[...]
