---
version: 2
interactions:
    - id: 0
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: |
            {"label":"testAcc_467563841","description":"testing, testing","permissions":["okta.apps.assignment.manage"]}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/iam/roles
        method: POST
      response:
        body: '{"id":"cr08ztgrc5L5KeBZ11d7","label":"testAcc_467563841","description":"testing, testing","created":"2023-07-19T22:55:50.000Z","lastUpdated":"2023-07-19T22:55:50.000Z","_links":{"permissions":{"href":"https://mm-oie-2022-10-07-max-admin.oktapreview.com/api/v1/iam/roles/cr08ztgrc5L5KeBZ11d7/permissions"},"self":{"href":"https://mm-oie-2022-10-07-max-admin.oktapreview.com/api/v1/iam/roles/cr08ztgrc5L5KeBZ11d7"}}}'
        headers:
            Content-Type:
                - application/json
            Link:
                - <https://mm-oie-2022-10-07-max-admin.oktapreview.com/api/v1/iam/roles/cr08ztgrc5L5KeBZ11d7>; rel="self"
        status: 200 OK
        code: 200
        duration: 162.059058ms
    - id: 1
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/iam/roles/cr08ztgrc5L5KeBZ11d7
        method: GET
      response:
        body: '{"id":"cr08ztgrc5L5KeBZ11d7","label":"testAcc_467563841","description":"testing, testing","created":"2023-07-19T22:55:50.000Z","lastUpdated":"2023-07-19T22:55:50.000Z","_links":{"permissions":{"href":"https://mm-oie-2022-10-07-max-admin.oktapreview.com/api/v1/iam/roles/cr08ztgrc5L5KeBZ11d7/permissions"},"self":{"href":"https://mm-oie-2022-10-07-max-admin.oktapreview.com/api/v1/iam/roles/cr08ztgrc5L5KeBZ11d7"}}}'
        headers:
            Content-Type:
                - application/json
            Link:
                - <https://mm-oie-2022-10-07-max-admin.oktapreview.com/api/v1/iam/roles/cr08ztgrc5L5KeBZ11d7>; rel="self"
        status: 200 OK
        code: 200
        duration: 65.786026ms
    - id: 2
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/iam/roles/cr08ztgrc5L5KeBZ11d7/permissions
        method: GET
      response:
        body: '{"permissions":[{"label":"okta.apps.assignment.manage","created":"2023-07-19T22:55:50.000Z","lastUpdated":"2023-07-19T22:55:50.000Z","conditions":null,"_links":{"role":{"href":"https://mm-oie-2022-10-07-max-admin.oktapreview.com/api/v1/iam/roles/cr08ztgrc5L5KeBZ11d7"},"self":{"href":"https://mm-oie-2022-10-07-max-admin.oktapreview.com/api/v1/iam/roles/cr08ztgrc5L5KeBZ11d7/permissions/okta.apps.assignment.manage"}}}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 80.346517ms
[...]
    - id: 6
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/iam/roles/cr08ztgrc5L5KeBZ11d7/permissions/okta.users.read
        method: POST
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 76.936152ms
[...]
