---
version: 2
interactions:
    - id: 0
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/org/factors/okta_question
        method: GET
      response:
        body: '{"id":"okta_question","provider":"OKTA","factorType":"question","status":"INACTIVE","_links":{"activate":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/org/factors/okta_question/lifecycle/activate","hints":{"allow":["POST"]}},"self":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/org/factors/okta_question","hints":{"allow":["GET"]}}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 152.243811ms
    - id: 1
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/org/factors/okta_question/lifecycle/activate
        method: POST
      response:
        body: '{"id":"okta_question","provider":"OKTA","factorType":"question","status":"ACTIVE","_links":{"self":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/org/factors/okta_question","hints":{"allow":["GET"]}},"deactivate":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/org/factors/okta_question/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 108.970569ms
    - id: 2
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: |
            {"credentials":{"password":{}},"profile":{"email":"john_2638759448@ledzeppelin.com","firstName":"TestAcc","lastName":"Jones","login":"john_2638759448@ledzeppelin.com","postalAddress":null}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/users
        method: POST
      response:
        body: '{"id":"00u8zvmziguUwPo1u1d7","status":"PROVISIONED","created":"2023-07-20T00:31:15.000Z","activated":"2023-07-20T00:31:15.000Z","statusChanged":"2023-07-20T00:31:15.000Z","lastLogin":null,"lastUpdated":"2023-07-20T00:31:15.000Z","passwordChanged":null,"type":{"id":"oty5ptm052JMcoADv1d7"},"profile":{"firstName":"TestAcc","lastName":"Jones","mobilePhone":null,"secondEmail":null,"login":"john_2638759448@ledzeppelin.com","email":"john_2638759448@ledzeppelin.com"},"credentials":{"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"suspend":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u8zvmziguUwPo1u1d7/lifecycle/suspend","method":"POST"},"schema":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/meta/schemas/user/osc5ptm052JMcoADv1d7"},"resetPassword":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u8zvmziguUwPo1u1d7/lifecycle/reset_password","method":"POST"},"reactivate":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u8zvmziguUwPo1u1d7/lifecycle/reactivate","method":"POST"},"self":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u8zvmziguUwPo1u1d7"},"type":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/meta/types/user/oty5ptm052JMcoADv1d7"},"deactivate":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u8zvmziguUwPo1u1d7/lifecycle/deactivate","method":"POST"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 522.03521ms
[...]
    - id: 4
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u8zvmziguUwPo1u1d7
        method: GET
      response:
        body: '{"id":"00u8zvmziguUwPo1u1d7","status":"PROVISIONED","created":"2023-07-20T00:31:15.000Z","activated":"2023-07-20T00:31:15.000Z","statusChanged":"2023-07-20T00:31:15.00[...]
    - id: 5
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u8zvmziguUwPo1u1d7/factors/questions
        method: GET
      response:
        body: '[{"question":"disliked_food","questionText":"What is the food you least liked as a child?"},{"question":"name_of_first_plush_toy","questionText":"What is the name of your first stuffed animal?"},{"question":"first_award","questionText":"What did you earn your first medal or award for?"},{"question":"favorite_security_question","questionText":"What is your favorite security question?"},{"question":"favorite_toy","questionText":"What is the toy/stuffed animal you liked the most as a kid?"},{"question":"first_computer_game","questionText":"W[...]
    - id: 6
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: |
            {"factorType":"question","provider":"OKTA","profile":{"answer":"meatball","question":"disliked_food"}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u8zvmziguUwPo1u1d7/factors
        method: POST
      response:
        body: '{"id":"ufs8zvo1g6IMNefeT1d7","factorType":"question","provider":"OKTA","vendorName":"OKTA","status":"ACTIVE","created":"2023-07-20T00:31:17.000Z","lastUpdated":"2023-07-20T00:31:17.000Z","profile":{"question":"disliked_food","questionText":"What is the food you least liked as a child?"},"_links":{"questions":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u8zvmziguUwPo1u1d7/factors/questions","hints":{"allow":["GET"]}},"self":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u8zvmziguUwPo1u1d7/factors/ufs8zvo1g6IMNefeT1d7","hints":{"allow":["GET","DELETE"]}},"user":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u8zvmziguUwPo1u1d7","hints":{"allow":["GET"]}}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 386.373588ms
    - id: 7
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u8zvmziguUwPo1u1d7/factors/ufs8zvo1g6IMNefeT1d7
        method: GET
      response:
        body: '{"id":"ufs8zvo1g6IMNefeT1d7","factorType":"question","provider":"OKTA","vendorName":"OKTA","status":"ACTIVE","created":"2023-07-20T00:31:17.000Z","lastUpdated":"2023-07-20T00:31:17.000Z","profile":{"question":"disliked_food","questionText":"What is the food you least liked as a child?"},"_links":{"questions":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u8zvmziguUwPo1u1d7/factors/questions","hints":{"allow":["GET"]}},"self":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u8zvmziguUwPo1u1d7/factors/ufs8zvo1g6IMNefeT1d7","hints":{"allow":["GET","DELETE"]}},"user":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u8zvmziguUwPo1u1d7","hints":{"allow":["GET"]}}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 92.958253ms
[...]
    - id: 9
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u8zvmziguUwPo1u1d7
        method: GET
      response:
        body: '{"id":"00u8zvmziguUwPo1u1d7","status":"PROVISIONED","created":"2023-07-20T00:31:15.000Z","activated":"2023-07-20T00:31:15.000Z","statusChanged":"2023-07-20T00:31:15.000Z","lastLogin":null,"lastUpdated":"2023-07-20T00:31:15.000Z","passwordChanged":null,"type":{"id":"oty5ptm052JMcoADv1d7"},"profile":{"firstName":"TestAcc","lastName":"Jones","mobilePhone":null,"secondEmail":null,"login":"john_2638759448@ledzeppelin.com","email":"john_2638759448@ledzeppelin.com"},"credentials":{"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"suspend":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u8zvmziguUwPo1u1d7/lifecycle/suspend","method":"POST"},"schema":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/meta/schemas/user/osc5ptm052JMcoADv1d7"},"resetPassword":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u8zvmziguUwPo1u1d7/lifecycle/reset_password","method":"POST"},"reactivate":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u8zvmziguUwPo1u1d7/lifecycle/reactivate","method":"POST"},"self":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u8zvmziguUwPo1u1d7"},"resetFactors":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u8zvmziguUwPo1u1d7/lifecycle/reset_factors","method":"POST"},"type":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/meta/types/user/oty5ptm052JMcoADv1d7"},"deactivate":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u8zvmziguUwPo1u1d7/lifecycle/deactivate","method":"POST"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 116.036394ms
[...]
    - id: 21
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/org/factors/okta_question/lifecycle/deactivate
        method: POST
      response:
        body: '{"id":"okta_question","provider":"OKTA","factorType":"question","status":"INACTIVE","_links":{"activate":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/org/factors/okta_question/lifecycle/activate","hints":{"allow":["POST"]}},"self":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/org/factors/okta_question","hints":{"allow":["GET"]}}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 79.138037ms
[...]
