---
version: 2
interactions:
    - id: 0
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/.well-known/okta-organization
        method: GET
      response:
        body: '{"id":"00o5qwjvg8hg7YpT81d7","cell":"op3","_links":{"organization":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com"}},"pipeline":"idx","settings":{"analyticsCollectionEnabled":false,"bugReportingEnabled":true,"omEnabled":false,"pssoEnabled":false}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 130.238878ms
[...]
    - id: 2
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/authenticators
        method: GET
      response:
        body: '[{"type":"security_key","id":"aut7l6yhato1oHq6o1d7","key":"custom_otp","status":"ACTIVE","name":"Custom OTP Authenticator","created":"2023-04-06T16:43:22.000Z","lastUpdated":"2023-04-06T16:43:22.000Z","_links":{"self":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/authenticators/aut7l6yhato1oHq6o1d7","hints":{"allow":["GET","PUT"]}},"deactivate":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/authenticators/aut7l6yhato1oHq6o1d7/lifecycle/deactivate","hints":{"allow":["POST"]}},"methods":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/authenticators/aut7l6yhato1oHq6o1d7/methods","hints":{"allow":["GET"]}}}},{"type":"email","id":"aut5qwjvl1oLrzhRh1d7","key":"okta_email","status":"ACTIVE","name":"Email","created":"2022-10-07T23:17:01.000Z","lastUpdated":"2023-07-19T20:14:35.000Z","settings":{"allowedFor":"recovery","tokenLifetimeInMinutes":10},"_links":{"self":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/authenticators/aut5qwjvl1oLrzhRh1d7","hints":{"allow":["GET","PUT"]}},"deactivate":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/authenticators/aut5qwjvl1oLrzhRh1d7/lifecycle/deactivate","hints":{"allow":["POST"]}},"methods":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/authenticators/aut5qwjvl1oLrzhRh1d7/methods","hints":{"allow":["GET"]}}}},{"type":"app","id":"aut5z8lo8eomRT3Ud1d7","key":"google_otp","status":"INACTIVE","name":"Google Authenticator","created":"2022-10-28T21:28:47.000Z","lastUpdated":"2023-07-19T20:14:35.000Z","settings":{},"_links":{"self":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/authenticators/aut5z8lo8eomRT3Ud1d7","hints":{"allow":["GET","PUT"]}},"activate":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/authenticators/aut5z8lo8eomRT3Ud1d7/lifecycle/activate","hints":{"allow":["POST"]}},"methods":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/authenticators/aut5z8lo8eomRT3Ud1d7/methods","hints":{"allow":["GET"]}}}},{"type":"app","id":"aut5qwjvl5gOSPb1O1d7","key":"okta_verify","status":"ACTIVE","name":"Okta Verify","created":"2022-10-07T23:17:01.000Z","lastUpdated":"2023-03-07T23:15:45.000Z","settings":{"compliance":{"fips":"OPTIONAL"},"channelBinding":{"style":"NUMBER_CHALLENGE","required":"NEVER"},"userVerification":"PREFERRED","appInstanceId":""},"_links":{"self":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/authenticators/aut5qwjvl5gOSPb1O1d7","hints":{"allow":["GET","PUT"]}},"deactivate":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/authenticators/aut5qwjvl5gOSPb1O1d7/lifecycle/deactivate","hints":{"allow":["POST"]}},"methods":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/authenticators/aut5qwjvl5gOSPb1O1d7/methods","hints":{"allow":["GET"]}},"enroll":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/idp/authenticators","hints":{"allow":["POST"]}}}},{"type":"security_key","id":"aut671z3rsjA6cKkD1d7","key":"onprem_mfa","status":"ACTIVE","name":"On-Prem MFA","created":"2022-11-18T00:03:02.000Z","lastUpdated":"2023-04-06T19:31:25.000Z","provider":{"type":"DEL_OATH","configuration":{"hostName":"localhost","authPort":999,"instanceId":"0oa671z3rv7v8tB0c1d7","userNameTemplate":{"template":"global.assign.userName.login"}}},"_links":{"self":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/authenticators/aut671z3rsjA6cKkD1d7","hints":{"allow":["GET","PUT"]}},"deactivate":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/authenticators/aut671z3rsjA6cKkD1d7/lifecycle/deactivate","hints":{"allow":["POST"]}},"methods":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/authenticators/aut671z3rsjA6cKkD1d7/methods","hints":{"allow":["GET"]}}}},{"type":"p[...]
[...]
