---
version: 2
interactions:
    - id: 0
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: |
            {"definitions":{"custom":{"id":"#custom","properties":{"testAcc_3024564120_five":{"master":{"type":"PROFILE_MASTER"},"permissions":[{"action":"READ_ONLY","principal":"SELF"}],"required":false,"scope":"NONE","title":"five","type":"string"}},"type":"object"}}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/meta/schemas/group/default
        method: POST
      response:
        body: '{"id":"https://mm-oie-2022-10-07-max.oktapreview.com/meta/schemas/group/default","$schema":"http://json-schema.org/draft-04/schema#","name":"group","title":"Okta group","description":"Okta group profile template","lastUpdated":"2023-07-19T23:41:08.000Z","created":"2022-10-07T23:16:57.000Z","definitions":{"custom":{"id":"#custom","type":"object","properties":{"samlRole":{"title":"samlRole","type":"array","mutability":"READ_WRITE","scope":"NONE","items":{"type":"string"},"permissions":[{"principal":"SELF","action":"READ_WRITE"}],"master":{"type":"PROFILE_MASTER"}},"test":{"title":"test","description":"test","type":"string","mutability":"READ_WRITE","scope":"NONE","permissions":[{"principal":"SELF","action":"READ_WRITE"}],"master":{"type":"PROFILE_MASTER"}},"testAcc_3024564120_five":{"title":"five","type":"string","mutability":"READ_WRITE","scope":"NONE","permissions":[{"principal":"SELF","action":"READ_ONLY"}],"master":{"type":"PROFILE_MASTER"}}},"required":[]},"base":{"id":"#base","type":"object","properties":{"name":{"title":"Name","description":"Name","type":"string","required":true,"mutability":"READ_WRITE","scope":"NONE","maxLength":255,"permissions":[{"principal":"SELF","action":"READ_WRITE"}],"master":{"type":"PROFILE_MASTER"}},"description":{"title":"Description","description":"Description","type":"string","mutability":"READ_WRITE","scope":"NONE","maxLength":1024,"permissions":[{"principal":"SELF","action":"READ_WRITE"}],"master":{"type":"PROFILE_MASTER"}}},"required":["name"]}},"type":"object","properties":{"profile":{"allOf":[{"$ref":"#/definitions/custom"},{"$ref":"#/definitions/base"}]}},"_links":{"self":{"rel":"self","href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/meta/schemas/group/default","method":"GET"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 161.926356ms
    - id: 1
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: |
            {"definitions":{"custom":{"id":"#custom","properties":{"testAcc_3024564120_two":{"master":{"type":"PROFILE_MASTER"},"permissions":[{"action":"READ_ONLY","principal":"SELF"}],"required":false,"scope":"NONE","title":"two","type":"string"}},"type":"object"}}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/meta/schemas/group/default
        method: POST
      response:
        body: '{"id":"https://mm-oie-20[...]
    - id: 2
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: |
            {"definitions":{"custom":{"id":"#custom","properties":{"testAcc_3024564120_four":{"master":{"type":"PROFILE_MASTER"},"permissions":[{"action":"READ_ONLY","principal":"SELF"}],"required":false,"scope":"NONE","title":"four","type":"string"}},"type":"object"}}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/meta/schemas/group/default
        method: POST
      response:
        body: '{"id":"https://mm-oie-2[...]
    - id: 3
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: |
            {"definitions":{"custom":{"id":"#custom","properties":{"testAcc_3024564120_three":{"master":{"type":"PROFILE_MASTER"},"permissions":[{"action":"READ_ONLY","principal":"SELF"}],"required":false,"scope":"NONE","title":"three","type":"string"}},"type":"object"}}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/meta/schemas/group/default
        method: POST
      response:
        body: '{"id":"https://mm-oie-[...]
    - id: 4
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: |
            {"definitions":{"custom":{"id":"#custom","properties":{"testAcc_3024564120_one":{"master":{"type":"PROFILE_MASTER"},"permissions":[{"action":"READ_ONLY","principal":"SELF"}],"required":false,"scope":"NONE","title":"one","type":"string"}},"type":"object"}}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/meta/schemas/group/default
        method: POST
      response:
        body: '{"id":"https://mm-oie-20[...]
[...]
