---
version: 2
interactions:
    - id: 0
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/groups?filter=type+eq+%22BUILT_IN%22&limit=200
        method: GET
      response:
        body: '[{"id":"00g5ptm04tzNvyznP1d7","created":"2022-10-04T23:20:18.000Z","lastUpdated":"2022-10-04T23:20:18.000Z","lastMembershipUpdated":"2023-07-20T00:24:37.000Z","objectClass":["okta:user_group"],"type":"BUILT_IN","profile":{"name":"Everyone","description":"All users in your organization"},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/groups/00g5ptm04tzNvyznP1d7/users"},"apps":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/groups/00g5ptm04tzNvyznP1d7/apps"}}},{"id":"00g7kzzaumirVlz1c1d7","created":"2023-04-06T00:26:40.000Z","lastUpdated":"2023-04-06T00:26:40.000Z","lastMembershipUpdated":"2023-04-06T00:26:40.000Z","objectClass":["okta:user_group"],"type":"BUILT_IN","profile":{"name":"Okta Administrators","description":"Okta manages this group, which contains all administrators in your organization."},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/groups/00g7kzzaumirVlz1c1d7/users"},"apps":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/groups/00g7kzzaumirVlz1c1d7/apps"}}}]'
        headers:
            Content-Type:
                - application/json
            Link:
                - <https://mm-classic-2022-10-04.oktapreview.com/api/v1/groups?limit=200&filter=type+eq+%22BUILT_IN%22>; rel="self"
        status: 200 OK
        code: 200
        duration: 154.694108ms
[...]
    - id: 5
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: |
            {"companyName":"testAcc-105922519 Hashicorp CI Terraform Provider Okta","website":"https://terraform.io"}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/org
        method: POST
      response:
        body: '{"id":"00o5ptm04a2LyDEyk1d7","subdomain":"mm-classic-2022-10-04","companyName":"testAcc-105922519 Hashicorp CI Terraform Provider Okta","status":"ACTIVE","expiresAt":null,"created":"2022-10-04T23:20:17.000Z","lastUpdated":"2023-07-20T00:24:47.000Z","website":"https://terraform.io","phoneNumber":"","endUserSupportHelpURL":"","supportPhoneNumber":"","address1":null,"address2":null,"city":null,"state":null,"country":null,"postalCode":null,"_links":{"preferences":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/org/preferences"},"uploadLogo":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/org/logo","hints":{"allow":["POST"]}},"oktaCommunication":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/org/privacy/oktaCommunication"},"logo":null,"oktaSupport":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/org/privacy/oktaSupport"},"contacts":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/org/contacts"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 75.814595ms
    - id: 6
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/org/privacy/oktaCommunication
        method: GET
      response:
        body: '{"optOutEmailUsers":false,"_links":{"optOut":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/org/privacy/oktaCommunication/optOut","hints":{"allow":["POST"]}}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 76.513998ms
    - id: 7
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/org/contacts/BILLING
        method: GET
      response:
        body: '{"userId":"00u5ptm07rHbDyowI1d7","_links":{"user":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u5ptm07rHbDyowI1d7"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 66.143572ms
    - id: 8
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/org/contacts/TECHNICAL
        method: GET
      response:
        body: '{"userId":"00u5ptm07rHbDyowI1d7","_links":{"user":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u5ptm07rHbDyowI1d7"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 66.33702ms
[...]
