---
version: 2
interactions:
    - id: 0
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: |
            {"credentials":{"password":{"hash":{"algorithm":"SHA-512","salt":"TXlTYWx0","saltOrder":"PREFIX","value":"QrozP8a+KfoHu6mPFysxLoO5LMQsd2Fw6IclZUf8xQjetJOCGS93vm68h+VaFX0LHSiF/GxQkykq1vofmx6NGA==","workFactor":0}}},"profile":{"email":"testAcc-287281476@example.com","firstName":"TestAcc","lastName":"Smith","login":"testAcc-287281476@example.com","postalAddress":null}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/users?activate=false
        method: POST
      response:
        body: '{"id":"00u8zvn4c6P0T7pld1d7","status":"STAGED","created":"2023-07-20T00:32:21.000Z","activated":null,"statusChanged":null,"lastLogin":null,"lastUpdated":"2023-07-20T00:32:21.000Z","passwordChanged":"2023-07-20T00:32:21.000Z","type":{"id":"oty5ptm052JMcoADv1d7"},"profile":{"firstName":"TestAcc","lastName":"Smith","mobilePhone":null,"secondEmail":null,"login":"testAcc-287281476@example.com","email":"testAcc-287281476@example.com"},"credentials":{"password":{},"provider":{"type":"IMPORT","name":"IMPORT"}},"_links":{"schema":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/meta/schemas/user/osc5ptm052JMcoADv1d7"},"activate":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u8zvn4c6P0T7pld1d7/lifecycle/activate","method":"POST"},"self":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u8zvn4c6P0T7pld1d7"},"type":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/meta/types/user/oty5ptm052JMcoADv1d7"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 248.48596ms
    - id: 1
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u8zvn4c6P0T7pld1d7
        method: GET
      response:
        body: '{"id":"00u8zvn4c6P0T7pld1d7","status":"STAGED","created":"2023-07-20T00:32:21.000Z","activated":null,"statusChanged":null,"lastLogin":null,"lastUpdated":"2023-07-20T00:32:21.000Z","passwordChanged":"2023-07-20T00:32:21.000Z","type":{"id":"oty5ptm052JMcoADv1d7"},"profile":{"firstName":"TestAcc","lastName":"Smith","mobilePhone":null,"secondEmail":null,"login":"testAcc-287281476@example.com","email":"testAcc-287281476@example.com"},"credentials":{"password":{},"provider":{"type":"IMPORT","name":"IMPORT"}},"_links":{"schema":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/meta/schemas/user/osc5ptm052JMcoADv1d7"},"activate":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u8zvn4c6P0T7pld1d7/lifecycle/activate","method":"POST"},"self":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u8zvn4c6P0T7pld1d7"},"type":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/meta/types/user/oty5ptm052JMcoADv1d7"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 100.204783ms
[...]
