---
version: 2
interactions:
    - id: 0
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: |
            {"credentials":{"password":{"hash":{"algorithm":"SHA-512","salt":"TXlTYWx0","saltOrder":"PREFIX","value":"QrozP8a+KfoHu6mPFysxLoO5LMQsd2Fw6IclZUf8xQjetJOCGS93vm68h+VaFX0LHSiF/GxQkykq1vofmx6NGA==","workFactor":0}}},"profile":{"email":"testAcc-287281476@example.com","firstName":"TestAcc","lastName":"Smith","login":"testAcc-287281476@example.com","postalAddress":null}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users?activate=false
        method: POST
      response:
        body: '{"id":"00u8zuteun6XVxFrn1d7","status":"STAGED","created":"2023-07-19T23:50:05.000Z","activated":null,"statusChanged":"2023-07-19T23:50:05.000Z","lastLogin":null,"lastUpdated":"2023-07-19T23:50:05.000Z","passwordChanged":"2023-07-19T23:50:05.000Z","type":{"id":"oty5qwjvh0Vy1j8Kd1d7"},"profile":{"firstName":"TestAcc","lastName":"Smith","mobilePhone":null,"secondEmail":null,"login":"testAcc-287281476@example.com","email":"testAcc-287281476@example.com"},"credentials":{"password":{},"provider":{"type":"IMPORT","name":"IMPORT"}},"_links":{"schema":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/meta/schemas/user/osc5qwjvh0Vy1j8Kd1d7"},"activate":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/00u8zuteun6XVxFrn1d7/lifecycle/activate","method":"POST"},"self":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/00u8zuteun6XVxFrn1d7"},"resetFactors":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/00u8zuteun6XVxFrn1d7/lifecycle/reset_factors","method":"POST"},"type":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/meta/types/user/oty5qwjvh0Vy1j8Kd1d7"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 268.825779ms
    - id: 1
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/00u8zuteun6XVxFrn1d7
        method: GET
      response:
        body: '{"id":"00u8zuteun6XVxFrn1d7","status":"STAGED","created":"2023-07-19T23:50:05.000Z","activated":null,"statusChanged":"2023-07-19T23:50:05.000Z","lastLogin":null,"lastU[...]
[...]
