---
version: 2
interactions:
    - id: 0
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: |
            {"certificateSourceType":"MANUAL","domain":"example.com"}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/domains
        method: POST
      response:
        body: '{"id":"OcD8zvf5fhNBdz0cM1d7","domain":"example.com","certificateSourceType":"MANUAL","validationStatus":"NOT_STARTED","brandId":"bnd8zvf5fdKUTtqpu1d7","dnsRecords":[{"recordType":"TXT","fqdn":"_oktaverification.example.com","values":["e9502ea8c0e34345b3bd520047258451"]},{"recordType":"CNAME","fqdn":"example.com","values":["mm-classic-2022-10-04.customdomains.oktapreview.com"]}],"_links":{"self":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/domains/OcD8zvf5fhNBdz0cM1d7","hints":{"allow":["GET","DELETE","PUT"]}},"verify":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/domains/OcD8zvf5fhNBdz0cM1d7/verify","hints":{"allow":["POST"]}},"brand":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/brands/bnd8zvf5fdKUTtqpu1d7","hints":{"allow":["GET","PUT","DELETE"]}}}}'
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 536.25238ms
    - id: 1
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/domains/OcD8zvf5fhNBdz0cM1d7
        method: GET
      response:
        body: '{"id":"OcD8zvf5fhNBdz0cM1d7","domain":"example.com","certificateSourceType":"MANUAL","validationStatus":"NOT_STARTED","brandId":"bnd8zvf5fdKUTtqpu1d7","dnsRecords":[{"recordType":"TXT","fqdn":"_oktaverification.example.com","values":["e9502ea8c0e34345b3bd520047258451"]},{"recordType":"CNAME","fqdn":"example.com","values":["mm-classic-2022-10-04.customdomains.oktapreview.com"]}],"_links":{"self":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/domains/OcD8zvf5fhNBdz0cM1d7","hints":{"allow":["DELETE"]}},"verify":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/domains/OcD8zvf5fhNBdz0cM1d7/verify","hints":{"allow":["POST"]}},"brand":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/brands/bnd8zvf5fdKUTtqpu1d7","hints":{"allow":["GET","PUT","DELETE"]}}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 67.262514ms
    - id: 2
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/domains/OcD8zvf5fhNBdz0cM1d7/verify
        method: POST
      response:
        body: '{"id":"OcD8zvf5fhNBdz0cM1d7","domain":"example.com","certificateSourceType":"MANUAL","validationStatus":"FAILED_TO_VERIFY","brandId":"bnd8zvf5fdKUTtqpu1d7","dnsRecords":[{"recordType":"TXT","fqdn":"_oktaverification.example.com","values":["e9502ea8c0e34345b3bd520047258451"]},{"recordType":"CNAME","fqdn":"example.com","values":["mm-classic-2022-10-04.customdomains.oktapreview.com"]}],"_links":{"self":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/domains/OcD8zvf5fhNBdz0cM1d7","hints":{"allow":["GET","DELETE"]}},"brand":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/brands/bnd8zvf5fdKUTtqpu1d7","hints":{"allow":["GET","PUT","DELETE"]}}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 570.304562ms
[...]
