---
version: 2
interactions:
    - id: 0
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: |
            {"certificateSourceType":"MANUAL","domain":"example.com"}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/domains
        method: POST
      response:
        body: '{"id":"OcD8zuli89KVaiJ7R1d7","domain":"example.com","certificateSourceType":"MANUAL","validationStatus":"NOT_STARTED","brandId":"bnd8zuli85rDFOxnB1d7","dnsRecords":[{"recordType":"TXT","fqdn":"_oktaverification.example.com","values":["2fc1adc3cf7b4a61bcf40986b89333b1"]},{"recordType":"CNAME","fqdn":"example.com","values":["mm-oie-2022-10-07-max.customdomains.oktapreview.com"]}],"_links":{"self":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/domains/OcD8zuli89KVaiJ7R1d7","hints":{"allow":["GET","DELETE","PUT"]}},"verify":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/domains/OcD8zuli89KVaiJ7R1d7/verify","hints":{"allow":["POST"]}},"brand":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/brands/bnd8zuli85rDFOxnB1d7","hints":{"allow":["GET","PUT","DELETE"]}}}}'
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 549.173809ms
    - id: 1
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/domains/OcD8zuli89KVaiJ7R1d7
        method: GET
      response:
        body: '{"id":"OcD8zuli89KVaiJ7R1d7","domain":"example.com","certificateSourceType":"MANUAL","validationStatus":"NOT_STARTED","brandId":"bnd8zuli85rDFOxnB1d7","dnsRecords":[{"recordType":"TXT","fqdn":"_oktaverification.example.com","values":["2fc1adc3cf7b4a61bcf40986b89333b1"]},{"recordType":"CNAME","fqdn":"example.com","values":["mm-oie-2022-10-07-max.customdomains.oktapreview.com"]}],"_links":{"self":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/domains/OcD8zuli89KVaiJ7R1d7","hints":{"allow":["DELETE"]}},"verify":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/domains/OcD8zuli89KVaiJ7R1d7/verify","hints":{"allow":["POST"]}},"brand":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/brands/bnd8zuli85rDFOxnB1d7","hints":{"allow":["GET","PUT","DELETE"]}}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 78.138897ms
    - id: 2
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/domains/OcD8zuli89KVaiJ7R1d7/verify
        method: POST
      response:
        body: '{"id":"OcD8zuli89KVaiJ7R1d7","domain":"example.com","certificateSourceType":"MANUAL","validationStatus":"FAILED_TO_VERIFY","brandId":"bnd8zuli85rDFOxnB1d7","dnsRecords":[{"recordType":"TXT","fqdn":"_oktaverification.example.com","values":["2fc1adc3cf7b4a61bcf40986b89333b1"]},{"recordType":"CNAME","fqdn":"example.com","values":["mm-oie-2022-10-07-max.customdomains.oktapreview.com"]}],"_links":{"self":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/domains/OcD8zuli89KVaiJ7R1d7","hints":{"allow":["GET","DELETE"]}},"brand":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/brands/bnd8zuli85rDFOxnB1d7","hints":{"allow":["GET","PUT","DELETE"]}}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 407.232599ms
[...]
