---
version: 2
interactions:
    - id: 0
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: |
            {"associated":{"description":"Subordinate link property","name":"testAcc_subordinate","title":"Subordinate","type":"USER"},"primary":{"description":"Manager link property","name":"testAcc_2079930244","title":"Manager","type":"USER"}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/meta/schemas/user/linkedObjects
        method: POST
      response:
        body: '{"primary":{"name":"testAcc_2079930244","title":"Manager","description":"Manager link property","type":"USER"},"associated":{"name":"testAcc_subordinate","title":"Subordinate","description":"Subordinate link property","type":"USER"},"_links":{"self":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/meta/schemas/user/linkedObjects/testAcc_2079930244"}}}'
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 158.316792ms
    - id: 1
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: |
            {"credentials":{"password":{}},"profile":{"email":"testAcc_0@example.com","firstName":"TestAcc","lastName":"Smith","login":"testAcc_0@example.com","postalAddress":null}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/users
        method: POST
      response:
        body: '{"id":"00u8zvgeqleJ7VWsq1d7","status":"PROVISIONED","created":"2023-07-20T00:24:37.000Z","activated":"2023-07-20T00:24:37.000Z","statusChanged":"2023-07-20T00:24:37.000Z","lastLogin":null,"lastUpdated":"2023-07-20T00:24:37.000Z","passwordChanged":null,"type":{"id":"oty5ptm052JMcoADv1d7"},"profile":{"firstName":"TestAcc","lastName":"Smith","mobilePhone":null,"secondEmail":null,"login":"testAcc_0@example.com","email":"testAcc_0@example.com"},"credentials":{"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"suspend":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u8zvgeqleJ7VWsq1d7/lifecycle/suspend","method":"POST"},"schema":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/meta/schemas/user/osc5ptm052JMcoADv1d7"},"resetPassword":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u8zvgeqleJ7VWsq1d7/lifecycle/reset_password","method":"POST"},"reactivate":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u8zvgeqleJ7VWsq1d7/lifecycle/reactivate","method":"POST"},"self":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u8zvgeqleJ7VWsq1d7"},"type":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/meta/types/user/oty5ptm052JMcoADv1d7"},"deactivate":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u8zvgeqleJ7VWsq1d7/lifecycle/deactivate","method":"POST"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 391.321423ms
[...]
    - id: 6
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u8zvgvaoP0ICywy1d7
        method: GET
      response:
        body: '{"id":"00u8zvgvaoP0ICywy1d7","status":"PROVISIONED","created":"2023-07-20T00:24:37.000Z","activated":"2023-07-20T00:24:37.000Z","statusChanged":"2023-07-20T00:24:37.00[...]
    - id: 7
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u8zvfbnnfQ4LJcp1d7
        method: GET
      response:
        body: '{"id":"00u8zvfbnnfQ4LJcp1d7","status":"PROVISIONED","created":"2023-07-20T00:24:37.000Z","activated":"2023-07-20T00:24:37.000Z","statusChanged":"2023-07-20T00:24:37.00[...]
    - id: 8
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u8zviwag0y5WwqJ1d7
        method: GET
      response:
        body: '{"id":"00u8zviwag0y5WwqJ1d7","status":"PROVISIONED","created":"2023-07-20T00:24:37.000Z","activated":"2023-07-20T00:24:37.000Z","statusChanged":"2023-07-20T00:24:37.00[...]
    - id: 9
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u8zvgeqleJ7VWsq1d7
        method: GET
      response:
        body: '{"id":"00u8zvgeqleJ7VWsq1d7","status":"PROVISIONED","created":"2023-07-20T00:24:37.000Z","activated":"2023-07-20T00:24:37.000Z","statusChanged":"2023-07-20T00:24:37.00[...]
    - id: 10
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u8zvgpv9QsZkWfW1d7
        method: GET
      response:
        body: '{"id":"00u8zvgpv9QsZkWfW1d7","status":"PROVISIONED","created":"2023-07-20T00:24:37.000Z","activated":"2023-07-20T00:24:37.000Z","statusChanged":"2023-07-20T00:24:37.0[...]
    - id: 11
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/meta/schemas/user/linkedObjects/testAcc_2079930244
        method: GET
      response:
        body: '{"primary":{"name":"testAcc_2079930244","title":"Manager","description":"Manager link property","type":"USER"},"associated":{"name":"testAcc_subordinate","title":"Subordinate","description":"Subordinate link property","type":"USER"},"_links":{"self":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/meta/schemas/user/linkedObjects/testAcc_2079930244"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 66.081044ms
    - id: 12
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u8zvgpv9QsZkWfW1d7/linkedObjects/testAcc_2079930244/00u8zvgeqleJ7VWsq1d7
        method: PUT
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 68.471618ms
    - id: 13
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u8zviwag0y5WwqJ1d7/linkedObjects/testAcc_2079930244/00u8zvgeqleJ7VWsq1d7
        method: PUT
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 96.278706ms
    - id: 14
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u8zvgvaoP0ICywy1d7/linkedObjects/testAcc_2079930244/00u8zvgeqleJ7VWsq1d7
        method: PUT
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 66.762814ms
    - id: 15
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u8zvfbnnfQ4LJcp1d7/linkedObjects/testAcc_2079930244/00u8zvgeqleJ7VWsq1d7
        method: PUT
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 88.486703ms
[...]
    - id: 23
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u8zvgeqleJ7VWsq1d7/linkedObjects/testAcc_subordinate
        method: GET
      response:
        body: '[{"_links":{"self":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u8zvgvaoP0ICywy1d7"}}},{"_links":{"self":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u8zviwag0y5WwqJ1d7"}}},{"_links":{"self":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u8zvfbnnfQ4LJcp1d7"}}},{"_links":{"self":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u8zvgpv9QsZkWfW1d7"}}}]'
        headers:
            Content-Type:
                - application/json
            Link:
                - <https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u8zvgeqleJ7VWsq1d7/linkedObjects/testAcc_subordinate?limit=1000>; rel="self"
        status: 200 OK
        code: 200
        duration: 67.436438ms
[...]
    - id: 32
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u8zvgpv9QsZkWfW1d7/linkedObjects/testAcc_2079930244
        method: DELETE
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 75.885635ms
    - id: 33
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u8zviwag0y5WwqJ1d7/linkedObjects/testAcc_2079930244
        method: DELETE
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 80.0854ms
    - id: 34
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u8zvfbnnfQ4LJcp1d7/linkedObjects/testAcc_2079930244
        method: DELETE
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 63.78529ms
[...]
    - id: 43
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u8zvgvaoP0ICywy1d7/linkedObjects/testAcc_2079930244
        method: DELETE
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 80.984326ms
[...]
