---
version: 2
interactions:
    - id: 0
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: |
            {"certificateSourceType":"MANUAL","domain":"www.example.com"}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/domains
        method: POST
      response:
        body: '{"id":"OcD8zv4d0dXn1xhTN1d7","domain":"www.example.com","certificateSourceType":"MANUAL","validationStatus":"NOT_STARTED","brandId":"bnd8zv4d09Pp1jIn31d7","dnsRecords":[{"recordType":"TXT","fqdn":"_oktaverification.www.example.com","values":["88a10912190e48b481a28bd500bf070e"]},{"recordType":"CNAME","fqdn":"www.example.com","values":["mm-classic-2022-10-04.customdomains.oktapreview.com"]}],"_links":{"self":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/domains/OcD8zv4d0dXn1xhTN1d7","hints":{"allow":["GET","DELETE","PUT"]}},"verify":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/domains/OcD8zv4d0dXn1xhTN1d7/verify","hints":{"allow":["POST"]}},"brand":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/brands/bnd8zv4d09Pp1jIn31d7","hints":{"allow":["GET","PUT","DELETE"]}}}}'
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 468.858693ms
    - id: 1
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/domains/OcD8zv4d0dXn1xhTN1d7
        method: GET
      response:
        body: '{"id":"OcD8zv4d0dXn1xhTN1d7","domain":"www.example.com","certificateSourceType":"MANUAL","validationStatus":"NOT_STARTED","brandId":"bnd8zv4d09Pp1jIn31d7","dnsRecords":[{"recordType":"TXT","fqdn":"_oktaverification.www.example.com","values":["88a10912190e48b481a28bd500bf070e"]},{"recordType":"CNAME","fqdn":"www.example.com","values":["mm-classic-2022-10-04.customdomains.oktapreview.com"]}],"_links":{"self":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/domains/OcD8zv4d0dXn1xhTN1d7","hints":{"allow":["DELETE"]}},"verify":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/domains/OcD8zv4d0dXn1xhTN1d7/verify","hints":{"allow":["POST"]}},"brand":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/brands/bnd8zv4d09Pp1jIn31d7","hints":{"allow":["GET","PUT","DELETE"]}}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 67.645558ms
    - id: 2
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/domains/OcD8zv4d0dXn1xhTN1d7/verify
        method: POST
      response:
        body: '{"id":"OcD8zv4d0dXn1xhTN1d7","domain":"www.example.com","certificateSourceType":"MANUAL","validationStatus":"FAILED_TO_VERIFY","brandId":"bnd8zv4d09Pp1jIn31d7","dnsRecords":[{"recordType":"TXT","fqdn":"_oktaverification.www.example.com","values":["88a10912190e48b481a28bd500bf070e"]},{"recordType":"CNAME","fqdn":"www.example.com","values":["mm-classic-2022-10-04.customdomains.oktapreview.com"]}],"_links":{"self":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/domains/OcD8zv4d0dXn1xhTN1d7","hints":{"allow":["GET","DELETE"]}},"brand":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/brands/bnd8zv4d09Pp1jIn31d7","hints":{"allow":["GET","PUT","DELETE"]}}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 395.415974ms
    - id: 3
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/domains
        method: GET
      response:
        body: '{"domains":[{"id":"OcD8zv4d0dXn1xhTN1d7","domain":"www.example.com","certificateSourceType":"MANUAL","validationStatus":"FAILED_TO_VERIFY","brandId":"bnd8zv4d09Pp1jIn31d7","_links":{"self":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/domains/OcD8zv4d0dXn1xhTN1d7","hints":{"allow":["GET","DELETE"]}},"brand":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/brands/bnd8zv4d09Pp1jIn31d7","hints":{"allow":["GET","PUT","DELETE"]}}}},{"id":"default","domain":"mm-classic-2022-10-04.oktapreview.com","certificateSourceType":"OKTA_MANAGED","validationStatus":"COMPLETED","brandId":"bnd5ptm04rUA5HWie1d7","_links":{"self":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/domains/default","hints":{"allow":["GET"]}},"brand":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/brands/bnd5ptm04rUA5HWie1d7","hints":{"allow":["GET","PUT","DELETE"]}}}}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 65.700371ms
[...]
