---
version: 2
interactions:
    - id: 0
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: |
            {"certificateSourceType":"MANUAL","domain":"www.example.com"}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/domains
        method: POST
      response:
        body: '{"id":"OcD8zt703mrVoN5sM1d7","domain":"www.example.com","certificateSourceType":"MANUAL","validationStatus":"NOT_STARTED","brandId":"bnd8zt703iTQDr8u81d7","dnsRecords":[{"recordType":"TXT","fqdn":"_oktaverification.www.example.com","values":["fbac83b8297b4359ac835ad15045bd71"]},{"recordType":"CNAME","fqdn":"www.example.com","values":["mm-oie-2022-10-07-max.customdomains.oktapreview.com"]}],"_links":{"self":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/domains/OcD8zt703mrVoN5sM1d7","hints":{"allow":["GET","DELETE","PUT"]}},"verify":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/domains/OcD8zt703mrVoN5sM1d7/verify","hints":{"allow":["POST"]}},"brand":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/brands/bnd8zt703iTQDr8u81d7","hints":{"allow":["GET","PUT","DELETE"]}}}}'
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 477.505613ms
    - id: 1
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/domains/OcD8zt703mrVoN5sM1d7
        method: GET
      response:
        body: '{"id":"OcD8zt703mrVoN5sM1d7","domain":"www.example.com","certificateSourceType":"MANUAL","validationStatus":"NOT_STARTED","brandId":"bnd8zt703iTQDr8u81d7","dnsRecords":[{"recordType":"TXT","fqdn":"_oktaverification.www.example.com","values":["fbac83b8297b4359ac835ad15045bd71"]},{"recordType":"CNAME","fqdn":"www.example.com","values":["mm-oie-2022-10-07-max.customdomains.oktapreview.com"]}],"_links":{"self":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/domains/OcD8zt703mrVoN5sM1d7","hints":{"allow":["DELETE"]}},"verify":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/domains/OcD8zt703mrVoN5sM1d7/verify","hints":{"allow":["POST"]}},"brand":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/brands/bnd8zt703iTQDr8u81d7","hints":{"allow":["GET","PUT","DELETE"]}}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 79.167242ms
    - id: 2
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/domains/OcD8zt703mrVoN5sM1d7/verify
        method: POST
      response:
        body: '{"id":"OcD8zt703mrVoN5sM1d7","domain":"www.example.com","certificateSourceType":"MANUAL","validationStatus":"FAILED_TO_VERIFY","brandId":"bnd8zt703iTQDr8u81d7","dnsRecords":[{"recordType":"TXT","fqdn":"_oktaverification.www.example.com","values":["fbac83b8297b4359ac835ad15045bd71"]},{"recordType":"CNAME","fqdn":"www.example.com","values":["mm-oie-2022-10-07-max.customdomains.oktapreview.com"]}],"_links":{"self":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/domains/OcD8zt703mrVoN5sM1d7","hints":{"allow":["GET","DELETE"]}},"brand":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/brands/bnd8zt703iTQDr8u81d7","hints":{"allow":["GET","PUT","DELETE"]}}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 412.203942ms
    - id: 3
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/domains
        method: GET
      response:
        body: '{"domains":[{"id":"OcD8zt703mrVoN5sM1d7","domain":"www.example.com","certificateSourceType":"MANUAL","validationStatus":"FAILED_TO_VERIFY","brandId":"bnd8zt703iTQDr8u81d7","_links":{"self":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/domains/OcD8zt703mrVoN5sM1d7","hints":{"allow":["GET","DELETE"]}},"brand":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/brands/bnd8zt703iTQDr8u81d7","hints":{"allow":["GET","PUT","DELETE"]}}}},{"id":"default","domain":"mm-oie-2022-10-07-max.oktapreview.com","certificateSourceType":"OKTA_MANAGED","validationStatus":"COMPLETED","brandId":"bnd5qwjvgpotf2LV51d7","_links":{"self":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/domains/default","hints":{"allow":["GET"]}},"brand":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/brands/bnd5qwjvgpotf2LV51d7","hints":{"allow":["GET","PUT","DELETE"]}}}}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 60.15623ms
[...]
