---
version: 2
interactions:
    - id: 0
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: |
            {"profile":{"name":"testAcc_1711170102","description":"testing"}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups
        method: POST
      response:
        body: '{"id":"00g8zuomrv8HDpjsG1d7","created":"2023-07-19T23:42:09.000Z","lastUpdated":"2023-07-19T23:42:09.000Z","lastMembershipUpdated":"2023-07-19T23:42:09.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc_1711170102","description":"testing"},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups/00g8zuomrv8HDpjsG1d7/users"},"apps":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups/00g8zuomrv8HDpjsG1d7/apps"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 216.818756ms
    - id: 1
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: |
            {"credentials":{"password":{}},"profile":{"email":"testAcc-1711170102@example.com","firstName":"TestAcc","lastName":"Smith","login":"testAcc-1711170102@example.com","postalAddress":null}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users
        method: POST
      response:
        body: '{"id":"00u8zuow2tBFHoqqQ1d7","status":"PROVISIONED","created":"2023-07-19T23:42:10.000Z","activated":"2023-07-19T23:42:10.000Z","statusChanged":"2023-07-19T23:42:10.000Z","lastLogin":null,"lastUpdated":"2023-07-19T23:42:10.000Z","passwordChanged":null,"type":{"id":"oty5qwjvh0Vy1j8Kd1d7"},"profile":{"firstName":"TestAcc","lastName":"Smith","mobilePhone":null,"secondEmail":null,"login":"testAcc-1711170102@example.com","email":"testAcc-1711170102@example.com"},"credentials":{"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"suspend":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/00u8zuow2tBFHoqqQ1d7/lifecycle/suspend","method":"POST"},"schema":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/meta/schemas/user/osc5qwjvh0Vy1j8Kd1d7"},"resetPassword":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/00u8zuow2tBFHoqqQ1d7/lifecycle/reset_password","method":"POST"},"reactivate":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/00u8zuow2tBFHoqqQ1d7/lifecycle/reactivate","method":"POST"},"self":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/00u8zuow2tBFHoqqQ1d7"},"resetFactors":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/00u8zuow2tBFHoqqQ1d7/lifecycle/reset_factors","method":"POST"},"type":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/meta/types/user/oty5qwjvh0Vy1j8Kd1d7"},"deactivate":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/00u8zuow2tBFHoqqQ1d7/lifecycle/deactivate","method":"POST"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 430.467323ms
    - id: 2
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups/00g8zuomrv8HDpjsG1d7
        method: GET
      response:
        body: '{"id":"00g8zuomrv8HDpjsG1d7","created":"2023-07-19T23:42:09.000Z","lastUpdated":"2023-07-19T23:42:09.000Z","lastMembershipUpdated":"2023-07-19T23:42:09.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc_1711170102","description":"testing"},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups/00g8zuomrv8HDpjsG1d7/users"},"apps":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups/00g8zuomrv8HDpjsG1d7/apps"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 85.368052ms
[...]
    - id: 4
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: |
            {"type":"READ_ONLY_ADMIN"}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups/00g8zuomrv8HDpjsG1d7/roles?disableNotifications=false
        method: POST
      response:
        body: '{"id":"gra8zumxe1Q34jtBM1d7","label":"Read-only Administrator","type":"READ_ONLY_ADMIN","status":"ACTIVE","created":"2023-07-19T23:42:10.000Z","lastUpdated":"2023-07-19T23:42:10.000Z","assignmentType":"GROUP","_links":{"assignee":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups/00g8zuomrv8HDpjsG1d7"}}}'
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 84.51198ms
[...]
    - id: 6
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/users/00u8zuow2tBFHoqqQ1d7
        method: GET
      response:
        body: '{"id":"00u8zuow2tBFHoqqQ1d7","status":"PROVISIONED","created":"2023-07-19T23:42:10.000Z","activated":"2023-07-19T23:42:10.000Z","statusChanged":"2023-07-19T23:42:10.00[...]
    - id: 7
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups/00g8zuomrv8HDpjsG1d7/roles/gra8zumxe1Q34jtBM1d7
        method: GET
      response:
        body: '{"id":"gra8zumxe1Q34jtBM1d7","label":"Read-only Administrator","type":"READ_ONLY_ADMIN","status":"ACTIVE","created":"2023-07-19T23:42:10.000Z","lastUpdated":"2023-07-19T23:42:10.000Z","assignmentType":"GROUP","_links":{"assignee":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups/00g8zuomrv8HDpjsG1d7"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 76.457775ms
    - id: 8
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups/00g8zuomrv8HDpjsG1d7/roles/IFIFAX2BIRGUSTQ
        method: GET
      response:
        body: '{"id":"IFIFAX2BIRGUSTQ","label":"Application Administrator","type":"APP_ADMIN","status":"ACTIVE","created":"2023-07-19T23:42:10.000Z","lastUpdated":"2023-07-19T23:42:10.000Z","assignmentType":"GROUP","_links":{"assignee":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups/00g8zuomrv8HDpjsG1d7"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 68.654343ms
    - id: 9
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups/00g8zuomrv8HDpjsG1d7/roles/IFIFAX2BIRGUSTQ/targets/catalog/apps?limit=200&status=ACTIVE
        method: GET
      response:
        body: '[]'
        headers:
            Content-Type:
                - application/json
            Link:
                - <https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups/00g8zuomrv8HDpjsG1d7/roles/IFIFAX2BIRGUSTQ/targets/catalog/apps?after=PGE6TrMuOYWQySruAwB8PgEPA1&limit=20>; rel="self"
        status: 200 OK
        code: 200
        duration: 52.975118ms
[...]
    - id: 23
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups/00g8zupohnbzZwQuj1d7
        method: GET
      response:
        body: '{"id":"00g8zupohnbzZwQuj1d7","created":"2023-07-19T23:42:12.000Z","lastUpdated":"2023-07-19T23:42:12.000Z","lastMembershipUpdated":"2023-07-19T23:42:12.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testTarget1Acc_1711170102","description":"testing"},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups/00g8zupohnbzZwQuj1d7/users"},"apps":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups/00g8zupohnbzZwQuj1d7/apps"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 63.571021ms
    - id: 24
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups/00g8zupi63PzETxAm1d7
        method: GET
      response:
        body: '{"id":"00g8zupi63PzETxAm1d7","created":"2023-07-19T23:42:12.000Z","lastUpdated":"2023-07-19T23:42:12.000Z","lastMembershipUpdated":"2023-07-19T23:42:12.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testTarget2Acc_1711170102","description":"testing"},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups/00g8zupi63PzETxAm1d7/users"},"apps":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups/00g8zupi63PzETxAm1d7/apps"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 64.64525ms
[...]
    - id: 27
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: |
            {"credentials":{"userNameTemplate":{"template":"${source.login}","type":"BUILT_IN"},"userName":""},"accessibility":{"selfService":false},"label":"testAcc_1711170102","name":"template_swa","settings":{"app":{"buttonField":"btn-login","passwordField":"txtbox-password","url":"https://example.com/login.html","usernameField":"txtbox-username"},"notes":{"admin":null,"enduser":null}},"signOnMode":"BROWSER_PLUGIN","visibility":{"autoSubmitToolbar":false,"hide":{"iOS":false,"web":false}}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/apps?activate=true
        method: POST
      response:
        body: '{"id":"0oa8zupbb6gJLF7FH1d7","name":"template_swa","label":"testAcc_1711170102","status":"ACTIVE","lastUpdated":"2023-07-19T23:42:13.000Z","created":"2023-07-19T23:42:13.000Z","accessibility":{"selfService":false,"errorRedirectUrl":null,"loginRedirectUrl":null},"visibility":{"autoLaunch":false,"autoSubmitToolbar":false,"hide":{"iOS":false,"web":false},"appLinks":{"login":true}},"features":[],"signOnMode":"BROWSER_PLUGIN","credentials":{"scheme":"EDIT_USERNAME_AND_PASSWORD","userNameTemplate":{"template":"${source.login}","type":"BUILT_IN"},"revealPassword":false,"signing":{}},"settings":{"app":{"loginUrlRegex":null,"usernameField":"txtbox-username","redirectUrl":null,"buttonField":"btn-login","checkbox":null,"passwordField":"txtbox-password","url":"https://example.com/login.html"},"notifications":{"vpn":{"network":{"connection":"DISABLED"},"message":null,"helpUrl":null}},"manualProvisioning":false,"implicitAssignment":false,"notes":{"admin":null,"enduser":null}},"_links":{"uploadLogo":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/apps/0oa8zupbb6gJLF7FH1d7/logo","hints":{"allow":["POST"]}},"appLinks":[{"name":"login","href":"https://mm-oie-2022-10-07-max.oktapreview.com/home/template_swa/0oa8zupbb6gJLF7FH1d7/2357","type":"text/html"}],"profileEnrollment":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/policies/rst5qwjvlxUHivL8a1d7"},"policies":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/apps/0oa8zupbb6gJLF7FH1d7/policies","hints":{"allow":["PUT"]}},"groups":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/apps/0oa8zupbb6gJLF7FH1d7/groups"},"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/fs/bcg/4/gfs1g3ksgnrQi3BSX1d8","type":"image/png"}],"accessPolicy":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/policies/rst5qwjvlvS3G1WOU1d7"},"users":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/apps/0oa8zupbb6gJLF7FH1d7/users"},"deactivate":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/apps/0oa8zupbb6gJLF7FH1d7/lifecycle/deactivate"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 568.660362ms
[...]
    - id: 29
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups/00g8zuomrv8HDpjsG1d7/roles/JBCUYUC7IRCVGS27IFCE2SKO/targets/groups/00g8zupi63PzETxAm1d7
        method: PUT
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 98.314405ms
    - id: 30
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups/00g8zuomrv8HDpjsG1d7/roles/JBCUYUC7IRCVGS27IFCE2SKO/targets/groups/00g8zupohnbzZwQuj1d7
        method: PUT
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 104.253179ms
    - id: 31
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/apps/0oa8zupbb6gJLF7FH1d7
        method: GET
      response:
        body: '{"id":"0oa8zupbb6gJLF7FH1d7","name":"template_swa","label":"testAcc_1711170102","status":"ACTIVE","lastUpdated":"2023-07-19T23:42:13.000Z","created":"2023-07-19T23:42:[...]
    - id: 32
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups/00g8zuomrv8HDpjsG1d7/roles/JBCUYUC7IRCVGS27IFCE2SKO
        method: GET
      response:
        body: '{"id":"JBCUYUC7IRCVGS27IFCE2SKO","label":"Help Desk Administrator","type":"HELP_DESK_ADMIN","status":"ACTIVE","created":"2023-07-19T23:42:13.000Z","lastUpdated":"2023-07-19T23:42:13.000Z","assignmentType":"GROUP","_links":{"assignee":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups/00g8zuomrv8HDpjsG1d7"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 60.194438ms
[...]
    - id: 34
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups/00g8zuomrv8HDpjsG1d7/roles/JBCUYUC7IRCVGS27IFCE2SKO/targets/groups?limit=200
        method: GET
      response:
        body: '[{"id":"00g8zupi63PzETxAm1d7","created":"2023-07-19T23:42:12.000Z","lastUpdated":"2023-07-19T23:42:12.000Z","[...]
    - id: 35
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups/00g8zuomrv8HDpjsG1d7/roles/IFIFAX2BIRGUSTQ/targets/catalog/apps/template_swa/0oa8zupbb6gJLF7FH1d7
        method: PUT
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 117.332629ms
[...]
    - id: 62
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/apps/0oa8zupbb6gJLF7FH1d7/lifecycle/deactivate
        method: POST
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 130.759762ms
[...]
    - id: 67
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups/00g8zuomrv8HDpjsG1d7/roles/IFIFAX2BIRGUSTQ/targets/catalog/apps/facebook
        method: PUT
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 102.767211ms
[...]
    - id: 69
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups/00g8zuomrv8HDpjsG1d7/roles/IFIFAX2BIRGUSTQ/targets/catalog/apps?limit=200&status=ACTIVE
        method: GET
      response:
        body: '[{"name":"facebook","displayName":"Facebook","description":"Giving people the power to share and make the world more open and connected.","status":"ACTIVE","lastUpdated":"2021-03-18T17:37:56.000Z","category":"SOCIAL","verificationStatus":"OKTA_VERIFIED","website":"https://www.facebook.com/","signOnModes":["BROWSER_PLUGIN"],"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/fs/bcg/4/gfshpspesrHHFC4Ve1d6"}],"self":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/catalog/apps/facebook"}}}]'
        headers:
            Content-Type:
                - application/json
            Link:
                - <https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups/00g8zuomrv8HDpjsG1d7/roles/IFIFAX2BIRGUSTQ/targets/catalog/apps?after=PGEHNPLN9__RbStIpTste3Jag1&limit=20>; rel="self"
        status: 200 OK
        code: 200
        duration: 87.229578ms
[...]
    - id: 94
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/apps/0oa8zumxg7vJgUW6K1d7
        method: GET
      response:
        body: '{"id":"0oa8zumxg7vJgUW6K1d7","name":"template_swa","label":"testAcc_1711170102","status":"ACTIVE","lastUpdated":"2023-07-19T23:42:21.000Z","created":"2023-07-19T23:42:[...]
[...]
    - id: 103
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/apps/0oa8zumxg7vJgUW6K1d7/lifecycle/deactivate
        method: POST
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 90.501434ms
[...]
