---
version: 2
interactions:
    - id: 0
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/.well-known/okta-organization
        method: GET
      response:
        body: '{"id":"00o5qwjvg8hg7YpT81d7","cell":"op3","_links":{"organization":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com"}},"pipeline":"idx","settings":{"analyticsCollectionEnabled":false,"bugReportingEnabled":true,"omEnabled":false,"pssoEnabled":false}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 114.740095ms
    - id: 1
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: |
            {"name":"testAcc_891107004","status":"ACTIVE","type":"PROFILE_ENROLLMENT"}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/policies
        method: POST
      response:
        body: '{"id":"rst8zuptdnkuNTGkd1d7","status":"ACTIVE","name":"testAcc_891107004","priority":1,"system":false,"conditions":null,"created":"2023-07-19T23:46:01.000Z","lastUpdated":"2023-07-19T23:46:01.000Z","_links":{"self":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/policies/rst8zuptdnkuNTGkd1d7","hints":{"allow":["GET","PUT","DELETE"]}},"rules":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/policies/rst8zuptdnkuNTGkd1d7/rules","hints":{"allow":["GET","POST"]}},"deactivate":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/policies/rst8zuptdnkuNTGkd1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}},"type":"PROFILE_ENROLLMENT"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 96.948842ms
    - id: 2
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/policies/rst8zuptdnkuNTGkd1d7
        method: GET
      response:
        body: '{"id":"rst8zuptdnkuNTGkd1d7","status":"ACTIVE","name":"testAcc_891107004","priority":1,"system":false,"conditions":null,"created":"2023-07-19T23:46:01.000Z","lastUpdated":"2023-07-19T23:46:01.000Z","_links":{"self":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/policies/rst8zuptdnkuNTGkd1d7","hints":{"allow":["GET","PUT","DELETE"]}},"rules":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/policies/rst8zuptdnkuNTGkd1d7/rules","hints":{"allow":["GET","POST"]}},"deactivate":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/policies/rst8zuptdnkuNTGkd1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}},"type":"PROFILE_ENROLLMENT"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 71.079178ms
[...]
    - id: 4
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/policies/rst8zuptdnkuNTGkd1d7/rules
        method: GET
      response:
        body: '[{"id":"rul8zuptdoU1CKvL01d7","status":"ACTIVE","name":"Catch-all Rule","priority":99,"created":"2023-07-19T23:46:01.000Z","lastUpdated":"2023-07-19T23:46:01.000Z","system":true,"conditions":null,"actions":{"profileEnrollment":{"access":"ALLOW","preRegistrationInlineHooks":null,"profileAttributes":[{"name":"email","label":"Primary email","required":true}],"targetGroupIds":null,"unknownUserAction":"REGISTER","activationRequirements":{"emailVerification":true},"progressiveProfilingAction":"ENABLED"}},"_links":{"self":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/policies/rst8zuptdnkuNTGkd1d7/rules/rul8zuptdoU1CKvL01d7","hints":{"allow":["GET","PUT"]}}},"type":"PROFILE_ENROLLMENT"}]'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 81.472535ms
    - id: 5
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/policies/rst8zuptdnkuNTGkd1d7/rules/rul8zuptdoU1CKvL01d7
        method: GET
      response:
        body: '{"id":"rul8zuptdoU1CKvL01d7","status":"ACTIVE","name":"Catch-all Rule","priority":99,"created":"2023-07-19T23:46:01.000Z","lastUpdated":"2023-07-19T23:46:01.000Z","system":true,"conditions":null,"actions":{"profileEnrollment":{"access":"ALLOW","preRegistrationInlineHooks":null,"profileAttributes":[{"name":"email","label":"Primary email","required":true}],"targetGroupIds":null,"unknownUserAction":"REGISTER","activationRequirements":{"emailVerification":true},"progressiveProfilingAction":"ENABLED"}},"_links":{"self":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/policies/rst8zuptdnkuNTGkd1d7/rules/rul8zuptdoU1CKvL01d7","hints":{"allow":["GET","PUT"]}}},"type":"PROFILE_ENROLLMENT"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 65.316865ms
[...]
    - id: 12
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: |
            {"profile":{"name":"testAcc_891107004","description":"testing, testing"}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups
        method: POST
      response:
        body: '{"id":"00g8zuq8rmw8p7Ubf1d7","created":"2023-07-19T23:46:04.000Z","lastUpdated":"2023-07-19T23:46:04.000Z","lastMembershipUpdated":"2023-07-19T23:46:04.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc_891107004","description":"testing, testing"},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups/00g8zuq8rmw8p7Ubf1d7/users"},"apps":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups/00g8zuq8rmw8p7Ubf1d7/apps"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 68.112918ms
    - id: 13
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: |
            {"channel":{"config":{"method":"POST","uri":"https://example.com/test2"},"type":"HTTP","version":"1.0.0"},"name":"testAcc_891107004","status":"ACTIVE","type":"com.okta.user.pre-registration","version":"1.0.3"}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/inlineHooks
        method: POST
      response:
        body: '{"id":"cal8zurwj0tp1tBMG1d7","status":"ACTIVE","name":"testAcc_891107004","type":"com.okta.user.pre-registration","version":"1.0.3","channel":{"type":"HTTP","version":"1.0.0","config":{"uri":"https://example.com/test2","headers":[],"method":"POST","authScheme":null}},"created":"2023-07-19T23:46:04.000Z","lastUpdated":"2023-07-19T23:46:04.000Z","_links":{"self":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/inlineHooks/cal8zurwj0tp1tBMG1d7"},"execute":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/inlineHooks/cal8zurwj0tp1tBMG1d7/execute","hints":{"allow":["POST"]}},"deactivate":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/inlineHooks/cal8zurwj0tp1tBMG1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 89.084419ms
    - id: 14
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups/00g8zuq8rmw8p7Ubf1d7
        method: GET
      response:
        body: '{"id":"00g8zuq8rmw8p7Ubf1d7","created":"2023-07-19T23:46:04.000Z","lastUpdated":"2023-07-19T23:46:04.000Z","lastMembershipUpdated":"2023-07-19T23:46:04.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc_891107004","description":"testing, testing"},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups/00g8zuq8rmw8p7Ubf1d7/users"},"apps":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/groups/00g8zuq8rmw8p7Ubf1d7/apps"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 64.003959ms
[...]
    - id: 16
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/inlineHooks/cal8zurwj0tp1tBMG1d7
        method: GET
      response:
        body: '{"id":"cal8zurwj0tp1tBMG1d7","status":"ACTIVE","name":"testAcc_891107004","type":"com.okta.user.pre-registration","version":"1.0.3","channel":{"type":"HTTP","version":"1.0.0","config":{"uri":"https://example.com/test2","headers":[],"method":"POST","authScheme":null}},"created":"2023-07-19T23:46:04.000Z","lastUpdated":"2023-07-19T23:46:04.000Z","_links":{"self":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/inlineHooks/cal8zurwj0tp1tBMG1d7"},"execute":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/inlineHooks/cal8zurwj0tp1tBMG1d7/execute","hints":{"allow":["POST"]}},"deactivate":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/inlineHooks/cal8zurwj0tp1tBMG1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 237.393342ms
[...]
    - id: 18
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: |
            {"id":"rul8zuptdoU1CKvL01d7","type":"PROFILE_ENROLLMENT","name":"Catch-all Rule","status":"ACTIVE","priority":99,"system":true,"conditions":null,"actions":{"profileEnrollment":{"access":"ALLOW","activationRequirements":{"emailVerification":true},"preRegistrationInlineHooks":[{"inlineHookId":"cal8zurwj0tp1tBMG1d7"}],"profileAttributes":[{"label":"Email","name":"email","required":true},{"label":"NameBig","name":"name","required":true},{"label":"T-Shirt Size","name":"t-shirt","required":false}],"targetGroupIds":["00g8zuq8rmw8p7Ubf1d7"],"unknownUserAction":"REGISTER"}}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/policies/rst8zuptdnkuNTGkd1d7/rules/rul8zuptdoU1CKvL01d7
        method: PUT
      response:
        body: '{"id":"rul8zuptdoU1CKvL01d7","status":"ACTIVE","name":"Catch-all Rule","priority":99,"created":"2023-07-19T23:46:01.000Z","lastUpdated":"2023-07-19T23:46:05.000Z","system":true,"conditions":null,"actions":{"profileEnrollment":{"access":"ALLOW","preRegistrationInlineHooks":[{"inlineHookId":"cal8zurwj0tp1tBMG1d7","scopes":["SELF_SERVICE_REGISTRATION"]}],"profileAttributes":[{"name":"email","label":"Email","required":true},{"name":"name","label":"NameBig","required":true},{"name":"t-shirt","label":"T-Shirt Size","required":false}],"targetGroupIds":["00g8zuq8rmw8p7Ubf1d7"],"unknownUserAction":"REGISTER","activationRequirements":{"emailVerification":true}}},"_links":{"self":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/policies/rst8zuptdnkuNTGkd1d7/rules/rul8zuptdoU1CKvL01d7","hints":{"allow":["GET","PUT"]}}},"type":"PROFILE_ENROLLMENT"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 259.398676ms
[...]
    - id: 32
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/inlineHooks/cal8zurwj0tp1tBMG1d7/lifecycle/deactivate
        method: POST
      response:
        body: '{"id":"cal8zurwj0tp1tBMG1d7","status":"INACTIVE","name":"testAcc_891107004","type":"com.okta.user.pre-registration","version":"1.0.3","channel":{"type":"HTTP","version":"1.0.0","config":{"uri":"https://example.com/test2","headers":[],"method":"POST","authScheme":null}},"created":"2023-07-19T23:46:04.000Z","lastUpdated":"2023-07-19T23:46:08.000Z","_links":{"activate":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/inlineHooks/cal8zurwj0tp1tBMG1d7/lifecycle/activate","hints":{"allow":["POST"]}},"self":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/inlineHooks/cal8zurwj0tp1tBMG1d7"},"delete":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/inlineHooks/cal8zurwj0tp1tBMG1d7","hints":{"allow":["DELETE"]}}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 255.499229ms
[...]
