---
version: 2
interactions:
    - id: 0
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: |
            {"description":"Terraform Acceptance Test User Type","displayName":"Terraform Acceptance Test User Type","name":"testAcc_1528592018"}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/meta/types/user
        method: POST
      response:
        body: '{"id":"oty8ztesgdNksZ11z1d7","displayName":"Terraform Acceptance Test User Type","name":"testAcc_1528592018","description":"Terraform Acceptance Test User Type","createdBy":"00u5qwjvk7u6E1DFG1d7","lastUpdatedBy":"00u5qwjvk7u6E1DFG1d7","created":"2023-07-19T22:54:06.000Z","lastUpdated":"2023-07-19T22:54:06.000Z","default":false,"_links":{"schema":{"rel":"schema","href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/meta/schemas/user/osc8ztesgdNksZ11z1d7","method":"GET"},"self":{"rel":"self","href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/meta/types/user/oty8ztesgdNksZ11z1d7","method":"GET"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 166.960899ms
    - id: 1
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/meta/types/user/oty8ztesgdNksZ11z1d7
        method: GET
      response:
        body: '{"id":"oty8ztesgdNksZ11z1d7","displayName":"Terraform Acceptance Test User Type","name":"testAcc_1528592018","description":"Terraform Acceptance Test User Type","createdBy":"00u5qwjvk7u6E1DFG1d7","lastUpdatedBy":"00u5qwjvk7u6E1DFG1d7","created":"2023-07-19T22:54:06.000Z","lastUpdated":"2023-07-19T22:54:06.000Z","default":false,"_links":{"schema":{"rel":"schema","href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/meta/schemas/user/osc8ztesgdNksZ11z1d7","method":"GET"},"self":{"rel":"self","href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/meta/types/user/oty8ztesgdNksZ11z1d7","method":"GET"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 69.140282ms
[...]
