---
version: 2
interactions:
    - id: 0
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: |
            {"credentials":{"password":{}},"profile":{"email":"testAcc-3276625234@example.com","firstName":"TestAcc","lastName":"Smith","login":"testAcc-3276625234@example.com","postalAddress":null}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/users?activate=false
        method: POST
      response:
        body: '{"id":"00u8zvmzolg3a70RV1d7","status":"STAGED","created":"2023-07-20T00:32:16.000Z","activated":null,"statusChanged":null,"lastLogin":null,"lastUpdated":"2023-07-20T00:32:16.000Z","passwordChanged":null,"type":{"id":"oty5ptm052JMcoADv1d7"},"profile":{"firstName":"TestAcc","lastName":"Smith","mobilePhone":null,"secondEmail":null,"login":"testAcc-3276625234@example.com","email":"testAcc-3276625234@example.com"},"credentials":{"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"schema":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/meta/schemas/user/osc5ptm052JMcoADv1d7"},"activate":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u8zvmzolg3a70RV1d7/lifecycle/activate","method":"POST"},"self":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u8zvmzolg3a70RV1d7"},"type":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/meta/types/user/oty5ptm052JMcoADv1d7"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 360.221251ms
    - id: 1
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u8zvmzolg3a70RV1d7
        method: GET
      response:
        body: '{"id":"00u8zvmzolg3a70RV1d7","status":"STAGED","created":"2023-07-20T00:32:16.000Z","activated":null,"statusChanged":null,"lastLogin":null,"lastUpdated":"2023-07-20T00:32:16.000Z","passwordChanged":null,"type":{"id":"oty5ptm052JMcoADv1d7"},"profile":{"firstName":"TestAcc","lastName":"Smith","mobilePhone":null,"secondEmail":null,"login":"testAcc-3276625234@example.com","email":"testAcc-3276625234@example.com"},"credentials":{"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"schema":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/meta/schemas/user/osc5ptm052JMcoADv1d7"},"activate":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u8zvmzolg3a70RV1d7/lifecycle/activate","method":"POST"},"self":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u8zvmzolg3a70RV1d7"},"type":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/meta/types/user/oty5ptm052JMcoADv1d7"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 82.619903ms
[...]
    - id: 5
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u8zvmzolg3a70RV1d7/lifecycle/deactivate
        method: POST
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 120.354858ms
    - id: 6
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u8zvmzolg3a70RV1d7
        method: GET
      response:
        body: '{"id":"00u8zvmzolg3a70RV1d7","status":"DEPROVISIONED","created":"2023-07-20T00:32:16.000Z","activated":null,"statusChanged":"2023-07-20T00:32:18.000Z","lastLogin":null,"lastUpdated":"2023-07-20T00:32:18.000Z","passwordChanged":null,"type":{"id":"oty5ptm052JMcoADv1d7"},"profile":{"firstName":"TestAcc","lastName":"Smith","mobilePhone":null,"secondEmail":null,"login":"testAcc-3276625234@example.com","email":"testAcc-3276625234@example.com"},"credentials":{"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"schema":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/meta/schemas/user/osc5ptm052JMcoADv1d7"},"activate":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u8zvmzolg3a70RV1d7/lifecycle/activate","method":"POST"},"self":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u8zvmzolg3a70RV1d7"},"type":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/meta/types/user/oty5ptm052JMcoADv1d7"},"delete":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u8zvmzolg3a70RV1d7","method":"DELETE"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 78.4764ms
[...]
