---
version: 2
interactions:
    - id: 0
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: |
            {"profile":{"name":"testAcc_696586423_2","description":""}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/groups
        method: POST
      response:
        body: '{"id":"00g8zv740nCijyV4E1d7","created":"2023-07-20T00:12:21.000Z","lastUpdated":"2023-07-20T00:12:21.000Z","lastMembershipUpdated":"2023-07-20T00:12:21.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc_696586423_2","description":""},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/groups/00g8zv740nCijyV4E1d7/users"},"apps":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/groups/00g8zv740nCijyV4E1d7/apps"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 152.650994ms
[...]
    - id: 3
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/groups/00g8zv6w6nZPRmFw61d7
        method: GET
      response:
        body: '{"id":"00g8zv6w6nZPRmFw61d7","created":"2023-07-20T00:12:21.000Z","lastUpdated":"2023-07-20T00:12:21.000Z","lastMembershipUpdated":"2023-07-20T00:12:21.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc_696586423","description":""},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/groups/00g8zv6w6nZPRmFw61d7/users"},"apps":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/groups/00g8zv6w6nZPRmFw61d7/apps"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 53.441181ms
    - id: 4
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/groups/00g8zv740nCijyV4E1d7
        method: GET
      response:
        body: '{"id":"00g8zv740nCijyV4E1d7","created":"2023-07-20T00:12:21.000Z","lastUpdated":"2023-07-20T00:12:21.000Z","lastMembershipUpdated":"2023-07-20T00:12:21.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc_696586423_2","description":""},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/groups/00g8zv740nCijyV4E1d7/users"},"apps":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/groups/00g8zv740nCijyV4E1d7/apps"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 55.367207ms
    - id: 5
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/groups/00g8zvazbjTEzVQ1y1d7
        method: GET
      response:
        body: '{"id":"00g8zvazbjTEzVQ1y1d7","created":"2023-07-20T00:12:21.000Z","lastUpdated":"2023-07-20T00:12:21.000Z","lastMembershipUpdated":"2023-07-20T00:12:21.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"testAcc_696586423_3","description":""},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/groups/00g8zvazbjTEzVQ1y1d7/users"},"apps":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/groups/00g8zvazbjTEzVQ1y1d7/apps"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 62.277121ms
[...]
    - id: 9
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: |
            {"accessibility":{"selfService":false},"credentials":{"userNameTemplate":{"template":"${source.login}","type":"BUILT_IN"},"oauthClient":{"autoKeyRotation":true,"pkce_required":false,"token_endpoint_auth_method":"client_secret_basic"}},"label":"testAcc_696586423","name":"oidc_client","settings":{"app":{},"implicitAssignment":false,"notes":{"admin":null,"enduser":null},"oauthClient":{"application_type":"web","consent_method":"TRUSTED","grant_types":["authorization_code","implicit"],"idp_initiated_login":{"default_scope":[],"mode":"DISABLED"},"issuer_mode":"ORG_URL","redirect_uris":["http://d.com/"],"response_types":["code","token","id_token"],"wildcard_redirect":"DISABLED"}},"signOnMode":"OPENID_CONNECT","visibility":{"autoSubmitToolbar":false,"hide":{"iOS":true,"web":true}}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/apps?activate=true
        method: POST
      response:
        body: '{"id":"0oa8zv6bhc0A2oIhC1d7","name":"oidc_client","label":"testAcc_696586423","status":"ACTIVE","lastUpdated":"2023-07-20T00:12:22.000Z","created":"2023-07-20T00:12:21.000Z","accessibility":{"selfService":false,"errorRedirectUrl":null,"loginRedirectUrl":null},"visibility":{"autoLaunch":false,"autoSubmitToolbar":false,"hide":{"iOS":true,"web":true},"appLinks":{"oidc_client_link":true}},"features":[],"signOnMode":"OPENID_CONNECT","credentials":{"userNameTemplate":{"template":"${source.login}","type":"BUILT_IN"},"signing":{"kid":"RwDaGE-iT82hX655Q4f0UIf43qDZbNdJM3JkppJkusM"},"oauthClient":{"autoKeyRotation":true,"client_id":"0oa8zv6bhc0A2oIhC1d7","client_secret":"TIf1p5U3Glzj1ZyC86G8xm7bsjW1qhyFsJYjzX3B7w3kfEPhfckdykrFaPiOOgbj","token_endpoint_auth_method":"client_secret_basic","pkce_required":false}},"settings":{"app":{},"notifications":{"vpn":{"network":{"connection":"DISABLED"},"message":null,"helpUrl":null}},"manualProvisioning":false,"implicitAssignment":false,"notes":{"admin":null,"enduser":null},"oauthClient":{"client_uri":null,"logo_uri":null,"redirect_uris":["http://d.com/"],"response_types":["code","token","id_token"],"grant_types":["authorization_code","implicit"],"application_type":"web","issuer_mode":"ORG_URL","idp_initiated_login":{"mode":"DISABLED","default_scope":[]},"wildcard_redirect":"DISABLED"}},"_links":{"uploadLogo":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/apps/0oa8zv6bhc0A2oIhC1d7/logo","hints":{"allow":["POST"]}},"appLinks":[{"name":"oidc_client_link","href":"https://mm-classic-2022-10-04.oktapreview.com/home/oidc_client/0oa8zv6bhc0A2oIhC1d7/aln177a159h7Zf52X0g8","type":"text/html"}],"groups":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/apps/0oa8zv6bhc0A2oIhC1d7/groups"},"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/default.6770228fb0dab49a1695ef440a5279bb.png","type":"image/png"}],"clientCredentials":[{"name":"secrets","href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/apps/0oa8zv6bhc0A2oIhC1d7/credentials/secrets"}],"users":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/apps/0oa8zv6bhc0A2oIhC1d7/users"},"deactivate":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/apps/0oa8zv6bhc0A2oIhC1d7/lifecycle/deactivate"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 666.290625ms
    - id: 10
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/.well-known/okta-organization
        method: GET
      response:
        body: '{"id":"00o5ptm04a2LyDEyk1d7","cell":"op3","_links":{"organization":{"href":"https://mm-classic-2022-10-04.oktapreview.com"}},"pipeline":"v1","settings":{"analyticsCollectionEnabled":false,"bugReportingEnabled":true,"omEnabled":true,"pssoEnabled":false}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 53.630189ms
    - id: 11
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/apps/0oa8zv6bhc0A2oIhC1d7
        method: GET
      response:
        body: '{"id":"0oa8zv6bhc0A2oIhC1d7","name":"oidc_client","label":"testAcc_696586423","status":"ACTIVE","lastUpdated":"2023-07-20T00:12:22.000Z","created":"2023-07-20T00:12:21[...]
    - id: 12
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/internal/apps/0oa8zv6bhc0A2oIhC1d7/settings/oauth/idToken
        method: GET
      response:
        body: '{"issuer":"https://mm-classic-2022-10-04.oktapreview.com","orgUrl":null,"customUrl":null,"audience":"0oa8zv6bhc0A2oIhC1d7","issuerMode":"ORG_URL"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 102.169683ms
    - id: 13
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: |
            {"id":"00g8zv6w6nZPRmFw61d7","priority":1,"profile":{}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/apps/0oa8zv6bhc0A2oIhC1d7/groups/00g8zv6w6nZPRmFw61d7
        method: PUT
      response:
        body: '{"id":"00g8zv6w6nZPRmFw61d7","lastUpdated":"2023-07-20T00:12:23.000Z","priority":1,"profile":{},"_links":{"app":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/apps/0oa8zv6bhc0A2oIhC1d7"},"self":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/apps/0oa8zv6bhc0A2oIhC1d7/groups/00g8zv6w6nZPRmFw61d7"},"group":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/groups/00g8zv6w6nZPRmFw61d7"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 229.975214ms
    - id: 14
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: |
            {"id":"00g8zv740nCijyV4E1d7","priority":2,"profile":{}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/apps/0oa8zv6bhc0A2oIhC1d7/groups/00g8zv740nCijyV4E1d7
        method: PUT
      response:
        body: '{"id":"00g8zv740nCijyV4E1d7","lastUpdated":"2023-07-20T00:12:23.000Z","priority":2,"profile":{},"_links":{"app":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/apps/0oa8zv6bhc0A2oIhC1d7"},"self":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/apps/0oa8zv6bhc0A2oIhC1d7/groups/00g8zv740nCijyV4E1d7"},"group":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/groups/00g8zv740nCijyV4E1d7"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 159.180519ms
    - id: 15
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: |
            {"id":"00g8zvazbjTEzVQ1y1d7","priority":3,"profile":{}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/apps/0oa8zv6bhc0A2oIhC1d7/groups/00g8zvazbjTEzVQ1y1d7
        method: PUT
      response:
        body: '{"id":"00g8zvazbjTEzVQ1y1d7","lastUpdated":"2023-07-20T00:12:24.000Z","priority":3,"profile":{},"_links":{"app":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/apps/0oa8zv6bhc0A2oIhC1d7"},"self":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/apps/0oa8zv6bhc0A2oIhC1d7/groups/00g8zvazbjTEzVQ1y1d7"},"group":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/groups/00g8zvazbjTEzVQ1y1d7"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 162.214848ms
    - id: 16
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/apps/0oa8zv6bhc0A2oIhC1d7/groups?limit=200
        method: GET
      response:
        body: '[{"id":"00g8zv6w6nZPRmFw61d7","lastUpdated":"2023-07-20T00:12:23.000Z","priority":1,"profile":{},"_links":{"app":{"href":"https://mm-classic-2022-10-0[...]
[...]
    - id: 33
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/apps/0oa8zv6bhc0A2oIhC1d7/groups?limit=200
        method: GET
      response:
        body: '[{"id":"00g8zv740nCijyV4E1d7","lastUpdated":"2023-07-20T00:12:23.000Z","priority":1,"profile":{},"_links":{"app":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/apps/0oa8zv6bhc0A2oIhC1d7"},"self":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/apps/0oa8zv6bhc0A2oIhC1d7/groups/00g8zv740nCijyV4E1d7"},"group":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/groups/00g8zv740nCijyV4E1d7"}}},{"id":"00g8zv6w6nZPRmFw61d7","lastUpdated":"2023-07-20T00:12:27.000Z","priority":2,"profile":{},"_links":{"app":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/apps/0oa8zv6bhc0A2oIhC1d7"},"self":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/apps/0oa8zv6bhc0A2oIhC1d7/groups/00g8zv6w6nZPRmFw61d7"},"group":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/groups/00g8zv6w6nZPRmFw61d7"}}}]'
        headers:
            Content-Type:
                - application/json
            Link:
                - <https://mm-classic-2022-10-04.oktapreview.com/api/v1/apps/0oa8zv6bhc0A2oIhC1d7/groups?limit=200>; rel="self"
        status: 200 OK
        code: 200
        duration: 121.948198ms
[...]
    - id: 69
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/apps/0oa8zv6bhc0A2oIhC1d7/lifecycle/deactivate
        method: POST
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 128.599314ms
[...]
