---
version: 2
interactions:
    - id: 0
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: |
            {"name":"testAcc-1174574929","origin":"https://example-1174574929.com","scopes":[{"type":"CORS"}],"status":"ACTIVE"}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/trustedOrigins
        method: POST
      response:
        body: '{"id":"tos8zvle3jHq0H2ba1d7","name":"testAcc-1174574929","origin":"https://example-1174574929.com","scopes":[{"type":"CORS"}],"status":"ACTIVE","created":"2023-07-20T00:29:52.000Z","createdBy":"00u5ptm07rHbDyowI1d7","lastUpdated":"2023-07-20T00:29:52.000Z","lastUpdatedBy":"00u5ptm07rHbDyowI1d7","_links":{"self":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/trustedOrigins/tos8zvle3jHq0H2ba1d7","hints":{"allow":["GET","PUT","DELETE"]}},"deactivate":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/trustedOrigins/tos8zvle3jHq0H2ba1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 154.599395ms
    - id: 1
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/trustedOrigins/tos8zvle3jHq0H2ba1d7
        method: GET
      response:
        body: '{"id":"tos8zvle3jHq0H2ba1d7","name":"testAcc-1174574929","origin":"https://example-1174574929.com","scopes":[{"type":"CORS"}],"status":"ACTIVE","created":"2023-07-20T00:29:52.000Z","createdBy":"00u5ptm07rHbDyowI1d7","lastUpdated":"2023-07-20T00:29:52.000Z","lastUpdatedBy":"00u5ptm07rHbDyowI1d7","_links":{"self":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/trustedOrigins/tos8zvle3jHq0H2ba1d7","hints":{"allow":["GET","PUT","DELETE"]}},"deactivate":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/trustedOrigins/tos8zvle3jHq0H2ba1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 66.868583ms
[...]
    - id: 3
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/trustedOrigins/tos8zvle3jHq0H2ba1d7/lifecycle/deactivate
        method: POST
      response:
        body: '{"id":"tos8zvle3jHq0H2ba1d7","name":"testAcc-1174574929","origin":"https://example-1174574929.com","scopes":[{"type":"CORS"}],"status":"INACTIVE","created":"2023-07-20T00:29:52.000Z","createdBy":"00u5ptm07rHbDyowI1d7","lastUpdated":"2023-07-20T00:29:53.000Z","lastUpdatedBy":"00u5ptm07rHbDyowI1d7","_links":{"activate":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/trustedOrigins/tos8zvle3jHq0H2ba1d7/lifecycle/activate","hints":{"allow":["POST"]}},"self":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/trustedOrigins/tos8zvle3jHq0H2ba1d7","hints":{"allow":["GET","PUT","DELETE"]}}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 73.147195ms
[...]
