---
version: 2
interactions:
    - id: 0
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/org/privacy/oktaSupport/grant
        method: POST
      response:
        body: '{"support":"ENABLED","expiration":"2023-07-20T08:24:59.000Z","_links":{"extend":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/org/privacy/oktaSupport/extend","hints":{"allow":["POST"]}},"revoke":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/org/privacy/oktaSupport/revoke","hints":{"allow":["POST"]}}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 444.135929ms
    - id: 1
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/org/privacy/oktaSupport
        method: GET
      response:
        body: '{"support":"ENABLED","expiration":"2023-07-20T08:24:59.000Z","_links":{"extend":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/org/privacy/oktaSupport/extend","hints":{"allow":["POST"]}},"revoke":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/org/privacy/oktaSupport/revoke","hints":{"allow":["POST"]}}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 62.42382ms
[...]
    - id: 3
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/org/privacy/oktaSupport/revoke
        method: POST
      response:
        body: '{"support":"DISABLED","expiration":null,"_links":{"grant":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/org/privacy/oktaSupport/grant","hints":{"allow":["POST"]}}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 73.661895ms
[...]
    - id: 5
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/org/privacy/oktaSupport/extend
        method: POST
      response:
        body: '{"support":"ENABLED","expiration":"2023-07-21T08:25:01.000Z","_links":{"extend":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/org/privacy/oktaSupport/extend","hints":{"allow":["POST"]}},"revoke":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/org/privacy/oktaSupport/revoke","hints":{"allow":["POST"]}}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 77.720694ms
[...]
