---
version: 2
interactions:
    - id: 0
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: |
            {"credentials":{"password":{}},"profile":{"email":"john_1558441895@unknown.com","firstName":"TestAcc","lastName":"Doe","login":"john_1558441895@unknown.com","postalAddress":null}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/users
        method: POST
      response:
        body: '{"id":"00u8zv2yjbMgZdgch1d7","status":"PROVISIONED","created":"2023-07-20T00:06:34.000Z","activated":"2023-07-20T00:06:34.000Z","statusChanged":"2023-07-20T00:06:34.000Z","lastLogin":null,"lastUpdated":"2023-07-20T00:06:34.000Z","passwordChanged":null,"type":{"id":"oty5ptm052JMcoADv1d7"},"profile":{"firstName":"TestAcc","lastName":"Doe","mobilePhone":null,"secondEmail":null,"login":"john_1558441895@unknown.com","email":"john_1558441895@unknown.com"},"credentials":{"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"suspend":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u8zv2yjbMgZdgch1d7/lifecycle/suspend","method":"POST"},"schema":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/meta/schemas/user/osc5ptm052JMcoADv1d7"},"resetPassword":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u8zv2yjbMgZdgch1d7/lifecycle/reset_password","method":"POST"},"reactivate":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u8zv2yjbMgZdgch1d7/lifecycle/reactivate","method":"POST"},"self":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u8zv2yjbMgZdgch1d7"},"type":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/meta/types/user/oty5ptm052JMcoADv1d7"},"deactivate":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u8zv2yjbMgZdgch1d7/lifecycle/deactivate","method":"POST"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 478.619779ms
[...]
    - id: 4
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u8zv2yjbMgZdgch1d7
        method: GET
      response:
        body: '{"id":"00u8zv2yjbMgZdgch1d7","status":"PROVISIONED","created":"2023-07-20T00:06:34.000Z","activated":"2023-07-20T00:06:34.000Z","statusChanged":"2023-07-20T00:06:34.00[...]
    - id: 5
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u8zv4vfwXxnHzgo1d7
        method: GET
      response:
        body: '{"id":"00u8zv4vfwXxnHzgo1d7","status":"PROVISIONED","created":"2023-07-20T00:06:34.000Z","activated":"2023-07-20T00:06:34.000Z","statusChanged":"2023-07-20T00:06:34.00[...]
    - id: 6
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u8zv2paabr2xZvU1d7
        method: GET
      response:
        body: '{"id":"00u8zv2paabr2xZvU1d7","status":"PROVISIONED","created":"2023-07-20T00:06:34.000Z","activated":"2023-07-20T00:06:34.000Z","statusChanged":"2023-07-20T00:06:34.00[...]
    - id: 7
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u8zv3yo7Wj0HzsF1d7
        method: GET
      response:
        body: '{"id":"00u8zv3yo7Wj0HzsF1d7","status":"PROVISIONED","created":"2023-07-20T00:06:34.000Z","activated":"2023-07-20T00:06:34.000Z","statusChanged":"2023-07-20T00:06:34.00[...]
[...]
    - id: 14
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/users?limit=200&search=profile.email+sw+%22john_1558441895%22&sortOrder=0
        method: GET
      response:
        body: '[{"id":"00u8zv2yjbMgZdgch1d7","status":"PROVISIONED","created":"2023-07-20T00:06:34.000Z","activated":"2023-07-20T00:06[...]
[...]
    - id: 29
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/users?limit=200&search=profile.email+pr+and+profile.firstName+eq+%22TestAcc%22+and+profile.lastName+eq+%22Jones%22&sortOrder=0
        method: GET
      response:
        body: '[{"id":"00u8zv3yo7Wj0HzsF1d7","status":"PROVISIONED","created":"2023-07-20T00:06:34.000Z","activated":"2023-07-20T00:06:34.000Z","statusChanged":"2023-07-20T00:06:34.000Z","lastLogin":null,"lastUpdated":"2023-07-20T00:06:34.000Z","passwordChanged":null,"type":{"id":"oty5ptm052JMcoADv1d7"},"profile":{"firstName":"TestAcc","lastName":"Jones","mobilePhone":null,"secondEmail":null,"login":"john_1558441895@ledzeppelin.com","email":"john_1558441895@ledzeppelin.com"},"credentials":{"provider":{"type":"OKTA","name":"OKTA"}},"_links":{"self":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/users/00u8zv3yo7Wj0HzsF1d7"}}}]'
        headers:
            Content-Type:
                - application/json
            Link:
                - <https://mm-classic-2022-10-04.oktapreview.com/api/v1/users?limit=200&search=profile.email+pr+and+profile.firstName+eq+%22TestAcc%22+and+profile.lastName+eq+%22Jones%22>; rel="self"
        status: 200 OK
        code: 200
        duration: 106.277632ms
[...]
