---
version: 2
interactions:
    - id: 0
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: |
            {"audiences":["whatever.rise.zone"],"credentials":{"signing":{"rotationMode":"AUTO"}},"description":"test","issuerMode":"ORG_URL","name":"testAcc_4118069210"}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/authorizationServers
        method: POST
      response:
        body: '{"id":"aus8zuk1n9QJQFrWh1d7","name":"testAcc_4118069210","description":"test","audiences":["whatever.rise.zone"],"issuer":"https://mm-oie-2022-10-07-max.oktapreview.com/oauth2/aus8zuk1n9QJQFrWh1d7","issuerMode":"ORG_URL","status":"ACTIVE","created":"2023-07-19T23:33:44.000Z","lastUpdated":"2023-07-19T23:33:44.000Z","credentials":{"signing":{"kid":"al57ksa8iQ_iGeYSDxRX8aStaP4qV-5r5ODTnXBcbTk","rotationMode":"AUTO","lastRotated":"2023-07-19T23:33:44.000Z","nextRotation":"2023-10-17T23:33:44.000Z"}},"default":false,"_links":{"rotateKey":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/authorizationServers/aus8zuk1n9QJQFrWh1d7/credentials/lifecycle/keyRotate","hints":{"allow":["POST"]}},"metadata":[{"name":"oauth-authorization-server","href":"https://mm-oie-2022-10-07-max.oktapreview.com/oauth2/aus8zuk1n9QJQFrWh1d7/.well-known/oauth-authorization-server","hints":{"allow":["GET"]}},{"name":"openid-configuration","href":"https://mm-oie-2022-10-07-max.oktapreview.com/oauth2/aus8zuk1n9QJQFrWh1d7/.well-known/openid-configuration","hints":{"allow":["GET"]}}],"keys":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/authorizationServers/aus8zuk1n9QJQFrWh1d7/credentials/keys","hints":{"allow":["GET"]}},"claims":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/authorizationServers/aus8zuk1n9QJQFrWh1d7/claims","hints":{"allow":["GET","POST"]}},"policies":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/authorizationServers/aus8zuk1n9QJQFrWh1d7/policies","hints":{"allow":["GET","POST"]}},"self":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/authorizationServers/aus8zuk1n9QJQFrWh1d7","hints":{"allow":["GET","DELETE","PUT"]}},"scopes":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/authorizationServers/aus8zuk1n9QJQFrWh1d7/scopes","hints":{"allow":["GET","POST"]}},"deactivate":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/authorizationServers/aus8zuk1n9QJQFrWh1d7/lifecycle/deactivate","hints":{"allow":["POST"]}}}}'
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 570.213419ms
    - id: 1
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/authorizationServers/aus8zuk1n9QJQFrWh1d7
        method: GET
      response:
        body: '{"id":"aus8zuk1n9QJQFrWh1d7","name":"testAcc_4118069210","description":"test","audiences":["whatever.rise.zone"],"issuer":"https://mm-oie-2022-10-07-max[...]
    - id: 2
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: |
            {"alwaysIncludeInToken":true,"claimType":"RESOURCE","conditions":{},"group_filter_type":"EQUALS","name":"test","status":"ACTIVE","value":"Everyone","valueType":"GROUPS"}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/authorizationServers/aus8zuk1n9QJQFrWh1d7/claims
        method: POST
      response:
        body: '{"id":"ocl8zuklgeiAALsmH1d7","name":"test","status":"ACTIVE","claimType":"RESOURCE","valueType":"GROUPS","value":"Everyone","conditions":{"scopes":[]},"system":false,"alwaysIncludeInToken":true,"apiResourceId":null,"group_filter_type":"EQUALS","_links":{"self":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/authorizationServers/aus8zuk1n9QJQFrWh1d7/claims/ocl8zuklgeiAALsmH1d7","hints":{"allow":["GET","PUT","DELETE"]}}}}'
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 89.088825ms
[...]
    - id: 4
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/authorizationServers/aus8zuk1n9QJQFrWh1d7/claims/ocl8zuklgeiAALsmH1d7
        method: GET
      response:
        body: '{"id":"ocl8zuklgeiAALsmH1d7","name":"test","status":"ACTIVE","claimType":"RESOURCE","valueType":"GROUPS","value":"Everyone","conditions":{"scopes":[]},"system":false,"alwaysIncludeInToken":true,"apiResourceId":null,"group_filter_type":"EQUALS","_links":{"self":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/authorizationServers/aus8zuk1n9QJQFrWh1d7/claims/ocl8zuklgeiAALsmH1d7","hints":{"allow":["GET","PUT","DELETE"]}}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 111.968747ms
    - id: 5
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/authorizationServers/aus8zuk1n9QJQFrWh1d7/claims/ocl8zul3wienbRkEI1d7
        method: GET
      response:
        body: '{"id":"ocl8zul3wienbRkEI1d7","name":"test_sw","status":"ACTIVE","claimType":"RESOURCE","valueType":"GROUPS","value":"Every","conditions":{"scopes":[]},"system":false,"alwaysIncludeInToken":true,"apiResourceId":null,"group_filter_type":"STARTS_WITH","_links":{"self":{"href":"https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/authorizationServers/aus8zuk1n9QJQFrWh1d7/claims/ocl8zul3wienbRkEI1d7","hints":{"allow":["GET","PUT","DELETE"]}}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 102.498254ms
[...]
    - id: 11
      request:
        host: mm-oie-2022-10-07-max.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-oie-2022-10-07-max.oktapreview.com/api/v1/authorizationServers/aus8zuk1n9QJQFrWh1d7/lifecycle/deactivate
        method: POST
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 77.004486ms
[...]
