---
version: 2
interactions:
    - id: 0
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: |
            {"profile":{"name":"TestACC Group","description":"Group"}}
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
            Content-Type:
                - application/json
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/groups
        method: POST
      response:
        body: '{"id":"00g8zvfc5lhybPRvf1d7","created":"2023-07-20T00:22:03.000Z","lastUpdated":"2023-07-20T00:22:03.000Z","lastMembershipUpdated":"2023-07-20T00:22:03.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"TestACC Group","description":"Group"},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/groups/00g8zvfc5lhybPRvf1d7/users"},"apps":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/groups/00g8zvfc5lhybPRvf1d7/apps"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 165.466818ms
    - id: 1
      request:
        host: mm-classic-2022-10-04.oktapreview.com
        body: ""
        form: {}
        headers:
            Authorization:
                - SSWS REDACTED
        url: https://mm-classic-2022-10-04.oktapreview.com/api/v1/groups/00g8zvfc5lhybPRvf1d7
        method: GET
      response:
        body: '{"id":"00g8zvfc5lhybPRvf1d7","created":"2023-07-20T00:22:03.000Z","lastUpdated":"2023-07-20T00:22:03.000Z","lastMembershipUpdated":"2023-07-20T00:22:03.000Z","objectClass":["okta:user_group"],"type":"OKTA_GROUP","profile":{"name":"TestACC Group","description":"Group"},"_links":{"logo":[{"name":"medium","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-medium.30ce6d4085dff29412984e4c191bc874.png","type":"image/png"},{"name":"large","href":"https://op3static.oktacdn.com/assets/img/logos/groups/odyssey/okta-large.c3cb8cda8ae0add1b4fe928f5844dbe3.png","type":"image/png"}],"users":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/groups/00g8zvfc5lhybPRvf1d7/users"},"apps":{"href":"https://mm-classic-2022-10-04.oktapreview.com/api/v1/groups/00g8zvfc5lhybPRvf1d7/apps"}}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 57.428895ms
[...]
